# fix this shitty average

In [2]:


# the calculation is still wrong 
import numpy as np 
import pandas as pd 
from datetime import date
#Data Source (Pandas Data Reader)
from pandas_datareader import data
import requests 
import json
from locale import atof

#Data Source(Pandas Data Reader)
#import yfinance as yf

In [3]:
## draft 
import os
live = pd.to_datetime('today')
start = pd.to_datetime('2021-02-01')
end = pd.to_datetime('2021-06-30')

The problem is the below to_numeric error in the string to float conversion

In [4]:
directory = 'Orders'
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        df = pd.read_csv(directory+'/'+filename)
        df.columns=['Date','OrderNo', 'Pair','Type','Side' ,'Order_Price','Order_Amount','Time','Executed' ,'Average_Price', 'Trading_total','Status']
        
        df.Executed =df.Executed.str.slice(start=0,stop=6)
        df['Executed'] = pd.to_numeric(df['Executed'],errors = 'coerce')
        df.Executed.astype(float)

        df.Trading_total = df.Trading_total.str.slice(start=0,stop=6)
        df['Trading_total'] = pd.to_numeric(df['Trading_total'],errors = 'coerce')
        df.Trading_total.astype(float)
        
        
        df.Order_Amount = df.Order_Amount.str.slice(start=0,stop=6)
        #df.Order_Amount.astype(str)
        #df.Order_Amount = df.Order_Amount.str.split(",")
        #df.Order_Amount = df.Order_Amount[0]
        #df.Order_Amount = df.Order_Amount.replace(',','.', inplace=True)
        #df.Order_Amount = df.Order_Amount.str.rstrip('.')
        #df.style.format({"Order_Amount": "{:,4f}"})
        #res = s.str.replace(',(\d+)$', r'.\1', regex=True)
        #df.Order_Amount = df.Order_Amount.str.replace(',(\d+)$', r'.\1', regex=True)
        #df.Order_Amount = df.Order_Amount.str.replace(',(\d+)$', r'.\1', regex=True)
        #df.Order_Amount = df.Order_Amount.str.replace(',(\d+)$', r'.\1', regex=True)
        #df.Order_Amount = df.Order_Amount.str.rstrip(',')
        #df.Order_Amount.apply(atof)

        #df.Order_Amount = df.Order_Amount.replace(',','.', inplace=True)

        #df.Order_Amount.astype(str)
        #print(df.Order_Amount.dtypes)
        #df['Order_Amount'] = pd.to_numeric(df['Order_Amount'],errors = 'coerce')
        #df.Order_Amount.astype(float)
        
        
        #df.Exectuted = df.Executed.astype(str)
        #df.Executed= df.Executed.replace(',','', inplace=True)
        #df.Order_Amount.astype(float)

        

        #df.Trading_total =df.Trading_total.replace(",","", inplace=True)
        #df.Executed =(df.Executed.str.slice(start=0,stop=5)).astype(float)
        #df.Executed =pd.to_numeric(df.Executed)
        #df.Trading_total = (df.Trading_total.str.slice(start=0,stop=6)).astype(float)
        #df.astype({'Executed' :'float'})
        #df.index = ['Pair','Side']
        #df=df[(df['Status']=='FILLED')]
     
df = df.loc[(df['Status']=='FILLED')]
df.Pair= df.Pair.str.replace('BUSD','USDT')
df = df[df["Pair"].str.contains("BTC")==False]
df = df[df["Pair"].str.contains("USDTT")==False]
df = df[df["Pair"].str.contains("ETH")==False]
df = df[df["Pair"].str.contains("PROM")==False]
df = df[df["Pair"].str.contains("USDTUSDT")==False]


#df = df[df["team"].str.contains("Team 1|Team 2") == False]

df['Average_Price'] = pd.to_numeric(df['Average_Price'],errors = 'coerce')
#df.Average_Price =df.Average_Price.replace(",","", inplace=True)
#df.Average_Price = df.Average_Price.str.slice(start=0,stop=5)
df.Average_Price.astype(float)

df.Trading_total = df['Average_Price']*df['Executed']
## df.groupby(['Pair','Side','Average_Price']).Executed.sum()  
#test['Sumtrading'] = df.groupby(['Pair','Side']).Trading_total.sum()
#test['Sumcount'] = df.groupby(['Pair','Side']).Executed.sum()

test = df.groupby(['Pair','Side']).agg(
     sum_trading = ('Trading_total','sum'),
     sum_coins     = ('Executed','sum'),
 ).reset_index()
#print(df.index)
#df.info
#test = df.groupby(['Pair','Side']).sum().reset_index()
#pairlist = test
#pair =test.loc[(test['Pair']=='DOTUSDT')]
#pair

In [5]:
buy = df[(df['Side']=='BUY') & (df['Status']=='FILLED') ] 
sell = df[(df['Side']=='SELL') & (df['Status']=='FILLED') ] 


buy
sell

,Date,OrderNo,Pair,Type,Side,Order_Price,Order_Amount,Time,Executed,Average_Price,Trading_total,Status
0,2022-02-01 17:34:02,664044006,CRVUSDT,Limit,SELL,3.4130000000,5.9000,2022-02-01 17:34:03,5.900,3.413000,20.1367,FILLED
1,2022-02-01 16:57:59,3954584568,XRPUSDT,Limit,SELL,0.6274000000,32.000,2022-02-01 16:58:02,32.000,0.627400,20.0768,FILLED
4,2022-02-01 16:51:19,663907989,CRVUSDT,Limit,SELL,3.4270000000,5.9000,2022-02-01 16:51:19,5.900,3.427000,20.2193,FILLED
5,2022-02-01 16:48:54,2693960208,LTCUSDT,Limit,SELL,114.0000000000,0.0880,2022-02-01 16:49:00,0.088,114.000000,10.0320,FILLED
6,2022-02-01 16:36:00,663860966,CRVUSDT,Limit,SELL,3.4140000000,5.9000,2022-02-01 16:36:02,5.900,3.414000,20.1426,FILLED
...,...,...,...,...,...,...,...,...,...,...,...,...
20308,2021-03-12 09:47:25,210281339,MATICUSDT,Stop-Limit,SELL,0.3420000000,113.90,2021-03-22 20:46:29,113.900,0.343000,39.0677,FILLED
20319,2021-03-11 21:47:43,160965528,TFUELUSDT,Stop-Limit,SELL,0.3000000000,100.00,2021-03-17 09:48:26,100.000,0.300000,30.0000,FILLED
20327,2021-03-11 12:16:29,174960276,CHZUSDT,Limit,SELL,0.2630300000,"4,920.",2021-03-11 12:16:29,NaN,0.263093,NaN,FILLED
20357,2021-03-10 20:51:37,477282339,THETAUSDT,Limit,SELL,6.1400000000,16.300,2021-03-10 21:22:10,16.300,6.140000,100.0820,FILLED
20373,2021-03-09 10:41:11,165038453,CHZUSDT,Stop-Limit,SELL,0.2950000000,"1,326.",2021-03-09 10:44:27,NaN,0.295000,NaN,FILLED

In [17]:
test1=buy.loc[(buy['Pair']=='ATOMUSDT')]
#test1['Trading_total']=test['Order_Amount']*test['Order_Price']
test1=sell.loc[(sell['Pair']=='ATOMUSDT')]
test1=test1.sort_values(by=['Trading_total'],ascending=[False])
test1.head(20)

,Date,OrderNo,Pair,Type,Side,Order_Price,Order_Amount,Time,Executed,Average_Price,Trading_total,Status
11025,2021-05-19 09:14:24,520040560,ATOMUSDT,Stop-Limit,SELL,17.6000000000,69.495,2021-05-19 11:24:36,69.495,17.600000,1223.112000,FILLED
11024,2021-05-19 09:14:45,520040983,ATOMUSDT,Stop-Limit,SELL,16.4000000000,69.495,2021-05-19 11:31:31,69.495,16.400000,1139.718000,FILLED
11140,2021-05-18 14:44:06,517919112,ATOMUSDT,Stop-Limit,SELL,19.0000000000,50.230,2021-05-19 04:27:31,50.230,19.000000,954.370000,FILLED
10873,2021-05-19 18:37:28,521391566,ATOMUSDT,Limit,SELL,14.2000000000,60.282,2021-05-19 18:37:28,60.282,15.369186,926.485263,FILLED
3455,2021-08-22 06:04:08,694773228,ATOMUSDT,Stop-Limit,SELL,18.0000000000,34.000,2021-08-26 07:04:47,34.000,18.000000,612.000000,FILLED
357,2021-12-26 22:21:15,1032122153,ATOMUSDT,Limit,SELL,31.9300000000,16.000,2021-12-26 22:21:15,16.000,31.930000,510.880000,FILLED
12457,2021-05-06 04:38:38,484663553,ATOMUSDT,Stop-Limit,SELL,22.5000000000,20.595,2021-05-12 23:58:56,20.595,22.500000,463.387500,FILLED
12023,2021-05-10 08:01:17,496817400,ATOMUSDT,Stop-Limit,SELL,25.8000000000,10.092,2021-05-10 19:54:34,10.092,25.800000,260.373600,FILLED
12024,2021-05-10 08:00:32,496816068,ATOMUSDT,Stop-Limit,SELL,24.5000000000,10.503,2021-05-10 20:04:11,10.503,24.500000,257.323500,FILLED
10795,2021-05-20 07:17:24,522782159,ATOMUSDT,Limit,SELL,15.5720000000,16.000,2021-05-20 07:17:25,16.000,15.572000,249.152000,FILLED
10726,2021-05-20 17:37:09,524034685,ATOMUSDT,Limit,SELL,17.3000000000,10.000,2021-05-21 00:02:34,10.000,17.300000,173.000000,FILLED
9627,2021-06-03 10:49:17,554364533,ATOMUSDT,Stop-Limit,SELL,13.8000000000,10.000,2021-06-07 21:15:55,10.000,13.800000,138.000000,FILLED
12458,2021-05-06 04:37:45,484662405,ATOMUSDT,Stop-Limit,SELL,23.0000000000,5.0000,2021-05-12 23:57:21,5.000,23.000000,115.000000,FILLED
1533,2021-09-07 15:20:23,730012209,ATOMUSDT,Limit,SELL,19.6100000000,1.1100,2021-09-07 15:20:23,1.110,19.610000,21.767100,FILLED
1532,2021-09-07 15:20:24,730012275,ATOMUSDT,Limit,SELL,19.6600000000,1.0800,2021-09-07 15:20:39,1.080,19.660000,21.232800,FILLED
837,2021-09-13 15:17:17,754892511,ATOMUSDT,Limit,SELL,36.0100000000,0.5800,2021-09-13 15:17:21,0.580,36.010000,20.885800,FILLED
3481,2021-08-22 00:07:57,693811145,ATOMUSDT,Limit,SELL,23.5440000000,0.8820,2021-08-22 00:08:00,0.882,23.544000,20.765808,FILLED
1426,2021-09-07 16:21:54,730178946,ATOMUSDT,Limit,SELL,21.3200000000,0.9700,2021-09-07 16:21:54,0.970,21.320000,20.680400,FILLED
3482,2021-08-22 00:06:00,693791328,ATOMUSDT,Limit,SELL,23.8760000000,0.8640,2021-08-22 00:06:01,0.864,23.876000,20.628864,FILLED
1042,2021-09-10 00:06:29,737438587,ATOMUSDT,Limit,SELL,28.6400000000,0.7200,2021-09-10 00:06:29,0.720,28.650000,20.628000,FILLED

In [7]:
test = test
test['TotalBought'] = (test['sum_trading'].loc[(test['Side']=='BUY')])
test['TotalSold'] = (test['sum_trading'].loc[(test['Side']=='SELL')])
test['CoinsBought'] = (test['sum_coins'].loc[(test['Side']=='BUY')])
test['CoinsSold'] = (test['sum_coins'].loc[(test['Side']=='SELL')])
new = test[['Pair','CoinsBought','CoinsSold','TotalBought','TotalSold']]
#test['Total Dollars'] = 
#test['Total'] = (test['sum_trading'].loc[(test['Side']=='BUY')]) - (test['sum_trading'].loc[(test['Side']=='SELL')])

test

new.head()

        Pair  CoinsBought  CoinsSold  TotalBought    TotalSold
0  1INCHUSDT    1037.7100        NaN  3652.947401          NaN
1  1INCHUSDT          NaN     482.58          NaN  2338.794280
2   AAVEUSDT       1.9204        NaN   592.165712          NaN
3   AAVEUSDT          NaN       1.92          NaN   600.076447
4    ACMUSDT      27.7820        NaN   249.668796          NaN

In [8]:
pair =new.loc[(new['Pair']=='OMGUSDT')]
pair

        Pair  CoinsBought  CoinsSold  TotalBought    TotalSold
321  OMGUSDT       304.94        NaN  2399.428166          NaN
322  OMGUSDT          NaN     125.82          NaN  1042.023979

In [9]:
new1 =new.groupby('Pair').agg(
     Total_Bought = ('TotalBought','sum'),
     Coins_Bought   = ('CoinsBought','sum'),
     Total_Sold = ('TotalSold','sum'),
     Coins_Sold   = ('CoinsSold','sum'),

        
 ).reset_index()

new1['differenc_usd']=new1['Total_Bought']- new1['Total_Sold']
new1['differenc_coins']=new1['Coins_Bought']- new1['Coins_Sold']
new1['Average_price'] =new1['differenc_usd'] / new1['differenc_coins']
#new1.sort_values('differenc_usd',inplace =True ,ascending=False)
#new1.to_csv("Marsh-spetember.csv")
new1

,Pair,Total_Bought,Coins_Bought,Total_Sold,Coins_Sold,differenc_usd,differenc_coins,Average_price
0,1INCHUSDT,3652.947401,1037.7100,2338.794280,482.5800,1314.153121,555.1300,2.367289e+00
1,AAVEUSDT,592.165712,1.9204,600.076447,1.9200,-7.910735,0.0004,-1.977684e+04
2,ACMUSDT,249.668796,27.7820,229.454487,27.7820,20.214309,0.0000,inf
3,ADAAUD,19.786295,12.6430,0.000000,0.0000,19.786295,12.6430,1.565000e+00
4,ADAUSDT,20966.756313,14330.8600,12262.355302,7520.6200,8704.401011,6810.2400,1.278134e+00
...,...,...,...,...,...,...,...,...
257,YFIUSDT,0.000000,0.0064,0.000000,0.0057,0.000000,0.0007,0.000000e+00
258,ZECUSDT,224.781823,1.4143,209.782621,1.2683,14.999202,0.1460,1.027343e+02
259,ZENUSDT,154.625469,2.0440,151.410648,2.0440,3.214821,0.0000,inf
260,ZILUSDT,1180.227406,6712.9000,190.553036,1319.9000,989.674370,5393.0000,1.835109e-01
261,ZRXUSDT,1142.490831,786.3400,747.687218,484.4600,394.803613,301.8800,1.307816e+00

In [10]:
final = new1 [['Pair','Average_price']]
final=final.rename(columns={'Pair':'Indicator'})

print(final.iloc[0:60,0:9])
print(final.iloc[60:110,])
print(final.iloc[110:160,])

     Indicator  Average_price
0    1INCHUSDT   2.367289e+00
1     AAVEUSDT  -1.977684e+04
2      ACMUSDT            inf
3       ADAAUD   1.565000e+00
4      ADAUSDT   1.278134e+00
5     AIONUSDT   2.890301e-01
6     AKROUSDT   7.415658e-02
7     ALGOUSDT   6.439134e-01
8    ALICEUSDT   2.840272e+01
9   ALPACAUSDT           -inf
10   ALPHAUSDT            inf
11    ANKRUSDT   1.251853e-01
12     ANTUSDT  -5.334145e+02
13    ARDRUSDT            inf
14    ARPAUSDT   8.546370e-02
15      ARUSDT   3.744862e+01
16     ASRUSDT   1.253639e+01
17     ATAUSDT           -inf
18     ATMUSDT   1.795573e+03
19    ATOMUSDT   6.762010e+01
20   AUDIOUSDT   8.232864e-01
21     AUDUSDT   7.534143e-01
22    AUTOUSDT           -inf
23     AVAUSDT            inf
24    AVAXUSDT   7.944364e+01
25     AXSUSDT  -4.061925e+00
26  BADGERUSDT  -3.214663e+03
27    BAKEUSDT   1.389318e+00
28     BALUSDT   2.408332e+01
29    BANDUSDT   1.044500e+01
30     BARUSDT           -inf
31     BATUSDT   1.299509e+00
32     BCHUSDT  -6.376668e+01
33    BEAMUSDT  -3.063313e+03
34     BELUSDT           -inf
35     BLZUSDT   7.884284e-01
36     BNBUSDT   3.620000e+02
37     BNTUSDT   3.528367e+02
38    BONDUSDT            inf
39     BTGUSDT            inf
40     BTSUSDT   9.169486e-02
41     BTTUSDT            NaN
42  BURGERUSDT            inf
43    BZRXUSDT   1.503144e+03
44     C98USDT  -1.298171e+00
45    CAKEUSDT   1.532443e+01
46    CELOUSDT   4.571796e+00
47    CELRUSDT   9.910134e-02
48     CFXUSDT            inf
49     CHRUSDT  -4.731093e-01
50     CHZUSDT   1.024002e+00
51     CLVUSDT            inf
52   COCOSUSDT           -inf
53    COMPUSDT   4.660341e+02
54     COSUSDT   9.168514e-02
55    COTIUSDT   3.515048e-01
56     CRVUSDT   3.622548e+00
57     CTKUSDT            inf
58    CTSIUSDT  -2.011367e+00
59    CTXCUSDT   5.448606e-01
     Indicator  Average_price
60     CVCUSDT   6.203065e+00
61    DASHUSDT   3.803031e+05
62    DATAUSDT   2.011281e-01
63     DCRUSDT  -3.411617e+04
64    DEGOUSDT           -inf
65    DENTUSDT   1.876045e-02
66    DEXEUSDT            inf
67     DIAUSDT   5.265354e+00
68     DNTUSDT   2.429818e-01
69    DOCKUSDT   8.399197e-01
70    DODOUSDT   2.962137e+00
71    DOGEUSDT  -4.343458e-01
72     DOTUSDT   2.435036e+01
73    DREPUSDT            inf
74    DUSKUSDT  -1.954427e+01
75    DYDXUSDT   6.426734e+00
76    EGLDUSDT   1.804990e+02
77     ENJUSDT   1.932457e+00
78     EOSUSDT   9.204386e-01
79     EPSUSDT            inf
80     ERNUSDT            inf
81     ETCUSDT  -1.563821e+03
82     EURUSDT  -1.684710e+01
83    FARMUSDT            inf
84     FETUSDT   9.161356e-01
85    FIDAUSDT           -inf
86     FILUSDT   4.261733e+01
87     FIOUSDT   1.908382e+02
88    FIROUSDT            inf
89     FISUSDT            inf
90     FLMUSDT   4.712041e+13
91    FLOWUSDT   2.304069e+01
92    FLUXUSDT   1.798195e+00
93   FORTHUSDT            inf
94     FORUSDT           -inf
95     FTMUSDT   3.561964e-01
96     FTTUSDT   5.430711e+01
97     FUNUSDT   4.370586e-02
98    GALAUSDT   3.447877e-01
99     GBPUSDT  -9.696600e+00
100    GRTUSDT   6.040578e-01
101    GTCUSDT            inf
102    GTOUSDT   1.379097e+00
103    GXSUSDT   1.423370e+02
104   HARDUSDT   4.215972e+00
105   HBARUSDT   2.860211e-01
106   HIVEUSDT   1.405163e+00
107    HNTUSDT   2.044806e+01
108    HOTUSDT   2.871242e-02
109    ICPUSDT   2.880956e+01
     Indicator  Average_price
110    ICXUSDT       4.854025
111   IDEXUSDT            inf
112    INJUSDT       5.448183
113   IOSTUSDT       0.099479
114   IOTAUSDT       0.609052
115   IOTXUSDT       0.120925
116   IRISUSDT       0.120951
117    JSTUSDT       0.165439
118    JUVUSDT   -4031.489000
119   KAVAUSDT           -inf
120   KEEPUSDT           -inf
121    KEYUSDT       0.027676
122   KLAYUSDT            inf
123    KMDUSDT            inf
124    KNCUSDT            inf
125    KSMUSDT     206.652768
126   LINAUSDT       0.068862
127   LINKUSDT      26.219018
128    LITUSDT       3.806403
129    LPTUSDT            inf
130    LRCUSDT       1.495290
131    LSKUSDT            inf
132    LTCUSDT     238.887651
133    LTOUSDT       0.870178
134    LUNABNB       0.025756
135   LUNAUSDT      16.201695
136   MANAUSDT       2.827701
137   MASKUSDT     -90.425875
138   MATICBNB       0.002785
139  MATICUSDT       0.877233
140    MBLUSDT       0.069261
141   MBOXUSDT            inf
142    MDTUSDT      58.337710
143    MDXUSDT            inf
144    MFTUSDT            inf
145   MINAUSDT       4.375246
146    MIRUSDT       2.809441
147   MITHUSDT       0.123985
148    MKRUSDT       0.000000
149    MLNUSDT            inf
150    MTLUSDT            inf
151   NANOUSDT           -inf
152    NBSUSDT      -3.282369
153   NEARUSDT      12.023222
154    NEOUSDT      53.453010
155    NKNUSDT       2.718137
156    NMRUSDT            inf
157   NPXSUSDT            NaN
158   NULSUSDT      -4.216122
159     NUUSDT           -inf

In [11]:
pair =new1.loc[(new1['Pair']=='OMGUSDT')]
pair

,Pair,Total_Bought,Coins_Bought,Total_Sold,Coins_Sold,differenc_usd,differenc_coins,Average_price
163,OMGUSDT,2399.428166,304.94,1042.023979,125.82,1357.404187,179.12,7.578183

In [12]:
final

     Indicator  Average_price
0    1INCHUSDT   2.367289e+00
1     AAVEUSDT  -1.977684e+04
2      ACMUSDT            inf
3       ADAAUD   1.565000e+00
4      ADAUSDT   1.278134e+00
..         ...            ...
257    YFIUSDT   0.000000e+00
258    ZECUSDT   1.027343e+02
259    ZENUSDT            inf
260    ZILUSDT   1.835109e-01
261    ZRXUSDT   1.307816e+00

[262 rows x 2 columns]

In [13]:
final.to_csv('avgentries.csv')