In [2]:
# the calculation is still wrong 
import numpy as np 
import pandas as pd 
from datetime import date
#Data Source (Pandas Data Reader)
from pandas_datareader import data
import requests 
import json

#Data Source(Pandas Data Reader)
import yfinance as yf

In [3]:
## draft 
import os
live = pd.to_datetime('today')
start = pd.to_datetime('2021-02-01')
end = pd.to_datetime('2021-06-30')

In [43]:
directory = 'Orders'
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        df = pd.read_csv(directory+'/'+filename)
        df.columns=['Date','OrderNo', 'Pair','Type','Side' ,'Order_Price','Order_Amount','Time','Executed' ,'Average_Price', 'Trading_total','Status']
        df.Executed =df.Executed.str.slice(start=0,stop=6)
        df['Executed'] = pd.to_numeric(df['Executed'],errors = 'coerce')
        df.Executed.astype(float)

        df.Trading_total = df.Trading_total.str.slice(start=0,stop=6)
        df['Trading_total'] = pd.to_numeric(df['Trading_total'],errors = 'coerce')
        df.Trading_total.astype(float)
        
        
        
        #df.Exectuted = df.Executed.astype(str)
        #df.Executed= df.Executed.replace(',','', inplace=True)

        #df.Trading_total =df.Trading_total.replace(",","", inplace=True)
        #df.Executed =(df.Executed.str.slice(start=0,stop=5)).astype(float)
        #df.Executed =pd.to_numeric(df.Executed)
        #df.Trading_total = (df.Trading_total.str.slice(start=0,stop=6)).astype(float)
        #df.astype({'Executed' :'float'})
        #df.index = ['Pair','Side']
        #df=df[(df['Status']=='FILLED')]
     

## df.groupby(['Pair','Side','Average_Price']).Executed.sum()  
#test['Sumtrading'] = df.groupby(['Pair','Side']).Trading_total.sum()
#test['Sumcount'] = df.groupby(['Pair','Side']).Executed.sum()
test = df.groupby(['Pair','Side']).agg(
     sum_trading = ('Trading_total','sum'),
     sum_coins     = ('Executed','sum'),
 ).reset_index()
#print(df.index)
df
#test = df.groupby(['Pair','Side']).sum().reset_index()
#pairlist = test
#pair =test.loc[(test['Pair']=='DOTUSDT')]
#pair

,Date,OrderNo,Pair,Type,Side,Order_Price,Order_Amount,Time,Executed,Average_Price,Trading_total,Status
0,2021-08-31 23:40:55,1825584000,DOTUSDT,Limit,SELL,31.1500000000,0.6600000000DOT,2021-08-31 23:41:17,0.66,31.15000000,20.559,FILLED
1,2021-08-31 23:03:20,526197209,AVAXUSDT,Limit,BUY,39.0400000000,0.5100000000AVAX,2021-08-31 23:03:23,0.51,39.04000000,19.910,FILLED
2,2021-08-31 23:03:17,824502103,SOLUSDT,Limit,BUY,106.8800000000,0.1800000000SOL,2021-08-31 23:03:19,0.18,106.88000000,19.238,FILLED
3,2021-08-31 22:36:27,317382324,COTIUSDT,Limit,SELL,0.3069000000,48.0000000000COTI,2021-08-31 22:36:27,48.00,0.30690000,14.731,FILLED
4,2021-08-31 22:30:27,335218270,ALICEUSDT,Limit,SELL,17.4100000000,0.8600000000ALICE,2021-08-31 22:30:27,0.86,17.41000000,14.972,FILLED
...,...,...,...,...,...,...,...,...,...,...,...,...
17804,2021-03-05 14:03:27,198076732,IOTAUSDT,Limit,BUY,1.4101000000,129.1800000000IOTA,2021-03-05 14:03:35,129.18,1.41010000,182.150,FILLED
17805,2021-03-05 09:06:09,1068450885,ADAUSDT,Limit,BUY,1.1108000000,449.6000000000ADA,2021-03-05 09:06:09,449.60,1.11056000,499.300,FILLED
17806,2021-03-05 08:45:56,463620757,THETAUSDT,Limit,BUY,4.2659500000,628.2000000000THETA,2021-03-05 09:04:08,0.00,0,0.000,CANCELED
17807,2021-03-05 08:45:21,463619582,THETAUSDT,Limit,BUY,4.2003000000,638.0000000000THETA,2021-03-05 08:45:47,0.00,0,0.000,CANCELED
17808,2021-03-05 08:39:36,463604391,THETAUSDT,Limit,BUY,4.2701300000,468.4000000000THETA,2021-03-05 08:41:43,468.40,4.27013000,NaN,FILLED

In [44]:
test['TotalBought'] = (test['sum_trading'].loc[(test['Side']=='BUY')])
test['TotalSold'] = (test['sum_trading'].loc[(test['Side']=='SELL')])
test['CoinsBought'] = (test['sum_coins'].loc[(test['Side']=='BUY')])
test['CoinsSold'] = (test['sum_coins'].loc[(test['Side']=='SELL')])
new = test[['Pair','CoinsBought','CoinsSold','TotalBought','TotalSold']]
#test['Total Dollars'] = 
#test['Total'] = (test['sum_trading'].loc[(test['Side']=='BUY')]) - (test['sum_trading'].loc[(test['Side']=='SELL')])

test

new

          Pair  CoinsBought  CoinsSold  TotalBought  TotalSold
0    1INCHBUSD       0.0000        NaN        0.000        NaN
1    1INCHUSDT     542.8100        NaN     2507.360        NaN
2    1INCHUSDT          NaN    477.480          NaN  2318.5690
3     AAVEUSDT       1.6754        NaN      532.529        NaN
4     AAVEUSDT          NaN      1.627          NaN   517.6520
..         ...          ...        ...          ...        ...
597     ZILETH          NaN      0.000          NaN     0.2837
598    ZILUSDT    6568.4000        NaN     6778.439        NaN
599    ZILUSDT          NaN   1098.300          NaN  3974.2030
600    ZRXUSDT     480.3400        NaN      824.837        NaN
601    ZRXUSDT          NaN    465.460          NaN   727.5990

[602 rows x 5 columns]

In [46]:
new1 =new.groupby('Pair').agg(
     Total_Bought = ('TotalBought','sum'),
     Coins_Bought   = ('CoinsBought','sum'),
     Total_Sold = ('TotalSold','sum'),
     Coins_Sold   = ('CoinsSold','sum'),

        
 ).reset_index()

new1['differenc_usd']=new1['Total_Bought']- new1['Total_Sold']
new1['differenc_coins']=new1['Coins_Bought']- new1['Coins_Sold']
new1['Average_price'] =new1['differenc_usd'] / new1['differenc_coins']
#new1.sort_values('differenc_usd',inplace =True ,ascending=False)
#new1.to_csv("Marsh-spetember.csv")
new1

,Pair,Total_Bought,Coins_Bought,Total_Sold,Coins_Sold,differenc_usd,differenc_coins,Average_price
0,1INCHBUSD,0.0000,0.0000,0.0000,0.000,0.0000,0.0000,NaN
1,1INCHUSDT,2507.3600,542.8100,2318.5690,477.480,188.7910,65.3300,2.889806
2,AAVEUSDT,532.5290,1.6754,517.6520,1.627,14.8770,0.0484,307.376033
3,ACMUSDT,229.9190,26.3820,209.3280,26.382,20.5910,0.0000,inf
4,ADAAUD,19.7860,12.6430,0.0000,0.000,19.7860,12.6430,1.564977
...,...,...,...,...,...,...,...,...
315,ZILBTC,0.0313,0.0000,0.0311,0.000,0.0002,0.0000,inf
316,ZILBUSD,499.9800,0.0000,0.0000,0.000,499.9800,0.0000,inf
317,ZILETH,0.0000,0.0000,0.2837,0.000,-0.2837,0.0000,-inf
318,ZILUSDT,6778.4390,6568.4000,3974.2030,1098.300,2804.2360,5470.1000,0.512648
319,ZRXUSDT,824.8370,480.3400,727.5990,465.460,97.2380,14.8800,6.534812

In [ ]:
pair =new1.loc[(new1['Pair']=='ZILUSDT')]
pair