Generate the easy band in the first section based on live data 
compare it to the entries in the second part

In [82]:
import numpy as np 
import pandas as pd 
from datetime import date
#Data Source (Pandas Data Reader)
from pandas_datareader import data
import requests 
import json
from dateutil.relativedelta import relativedelta


#Data Source(Pandas Data Reader)

In [83]:
whitelist = 'POWR/USDT, MDT/USDT,BLZ/USDT, CHR/USDT, ORN/USDT, VIDT/USDT, IRIS/USDT, SHIB/USDT, MATIC/USDT,ALGO/USDT, BTC/USDT, ETH/USDT, AXS/USDT, SOL/USDT, MATIC/USDT, ADA/USDT, BNB/USDT, FIL/USDT, XRP/USDT, CVC/USDT, FTM/USDT, ICP/USDT, DOGE/USDT, XEC/USDT, IOTA/USDT, AVAX/USDT, DOT/USDT, LTC/USDT, EOS/USDT, IOST/USDT, STMX/USDT, FTT/USDT, TWT/USDT, ALICE/USDT, ATA/USDT, ETC/USDT, VET/USDT, SAND/USDT, LINK/USDT, THETA/USDT, SHIB/USDT, CHZ/USDT, LUNA/USDT, IOTX/USDT, TRX/USDT, TLM/USDT, BCH/USDT, REEF/USDT, CAKE/USDT, NEO/USDT,RVN/USDT, ATOM/USDT, SUSHI/USDT, ARDR/USDT, OMG/USDT, GRT/USDT, 1INCH/USDT, AAVE/USDT, C98/USDT, UNI/USDT, HBAR/USDT, CRV/USDT, DENT/USDT, MBOX/USDT, BTT/USDT, SRM/USDT, YFI/USDT, HOT/USDT, XLM/USDT, FIS/USDT, REQ/USDT, SXP/USDT, KSM/USDT, QNT/USDT, NEAR/USDT, COMP/USDT, QTUM/USDT, CHR/USDT, SC/USDT, XVS/USDT, ONT/USDT, COTI/USDT, NKN/USDT, RUNE/USDT, ANKR/USDT, MANA/USDT, CTXC/USDT, AR/USDT, RAY/USDT, BAKE/USDT, ARPA/USDT, XTZ/USDT, ZIL/USDT, ONG/USDT, ROSE/USDT, PNT/USDT,MINA/USDT, WIN/USDT, AUDIO/USDT, STORJ/USDT, EPS/USDT, MDX/USDT, ZEC/USDT, ENJ/USDT, HIVE/USDT, TFUEL/USDT, WRX/USDT, SNX/USDT, SKL/USDT, LINA/USDT, DODO/USDT, UNFI/USDT, XEM/USDT, EGLD/USDT, ICX/USDT, WAVES/USDT, ONE/USDT, DASH/USDT, KAVA/USDT, SUPER/USDT, TKO/USDT, OGN/USDT, XMR/USDT, OCEAN/USDT, CELO/USDT, BAT/USDT, FUN/USDT, LRC/USDT, ALPHA/USDT, MASK/USDT, TRU/USDT, DNT/USDT, LIT/USDT, FET/USDT, GTC/USDT, CELR/USDT, DEXE/USDT, ZEN/USDT, WAXP/USDT, CTSI/USDT, HNT/USDT, YFII/USDT, BEL/USDT, ZRX/USDT, DEGO/USDT, RSR/USDT, COS/USDT, FLM/USDT, BAL/USDT, MFT/USDT, RLC/USDT, KNC/USDT, REN/USDT, INJ/USDT, FLOW/USDT, SFP/USDT, BAND/USDT, CTK/USDT, SUN/USDT, AKRO/USDT, XVG/USDT, NANO/USDT, STRAX/USDT, PUNDIX/USDT, TVK/USDT, MKR/USDT, CLV/USDT, TRB/USDT, ETHUP/USDT, KEEP/USDT, TCT/USDT, POND/USDT, LTO/USDT, ANT/USDT, TOMO/USDT, ACM/USDT, FIO/USDT, VITE/USDT, MBL/USDT, JST/USDT, MTL/USDT, UTK/USDT, BLZ/USDT, ORN/USDT, STPT/USDT, CFX/USDT, OM/USDT, PERP/USDT, MIR/USDT, STX/USDT, ERN/USDT, TUSD/USDT, PSG/USDT, NULS/USDT, OXT/USDT, REP/USDT, BNBUP/USDT, DATA/USDT, WAN/USDT, BURGER/USDT, RAMP/USDT, ATM/USDT, DGB/USDT, DIA/USDT, BEAM/USDT, UMA/USDT, ETHDOWN/USDT, CKB/USDT, TRIBE/USDT, FARM/USDT, BTCUP/USDT, BZRX/USDT, ALPACA/USDT, DOTUP/USDT, BTS/USDT, FOR/USDT, ADAUP/USDT, HARD/USDT, LSK/USDT, POLS/USDT, FORTH/USDT, TORN/USDT, VTHO/USDT, BTG/USDT, QUICK/USDT, FILUP/USDT, PAX/USDT, MITH/USDT, SUSHIUP/USDT, BTCDOWN/USDT, XRPDOWN/USDT, BNBDOWN/USDT, DUSK/USDT, XRPUP/USDT, WTC/USDT, DOCK/USDT, AUTO/USDT, BTCST/USDT, KLAY/USDT, WNXM/USDT, KEY/USDT, FILDOWN/USDT, NU/USDT, IRIS/USDT, KMD/USDT, TROY/USDT, WING/USDT, AION/USDT, PHA/USDT, SUSHIDOWN/USDT, EOSUP/USDT, LTCUP/USDT, GHST/USDT, PAXG/USDT, BNT/USDT, AVA/USDT, BADGER/USDT, PERL/USDT, COCOS/USDT, GXS/USDT, MDT/USDT, 1INCHUP/USDT, GTO/USDT, LINKUP/USDT, AAVEUP/USDT, FIRO/USDT, JUV/USDT, MLN/USDT, UNIUP/USDT, LPT/USDT, NMR/USDT, AAVEDOWN/USDT, 1INCHDOWN/USDT, ASR/USDT, OG/USDT, BAR/USDT, DREP/USDT, BOND/USDT, DCR/USDT, GNO/USDT, NBS/USDT, RIF/USDT'
#whitelist = 'LINK/USDT, DOT/USDT'
startdate = '2020-01-01'
enddate = '2022-03-22'
enddate = pd.to_datetime('today')

interval = '1w'

In [84]:
def FRSI(series, period=14):
    delta = series.diff().dropna()
    ups = delta * 0
    downs = ups.copy()
    ups[delta > 0] = delta[delta > 0]
    downs[delta < 0] = -delta[delta < 0]
    ups[ups.index[period-1]] = np.mean( ups[:period] ) #first value is sum of avg gains
    ups = ups.drop(ups.index[:(period-1)])
    downs[downs.index[period-1]] = np.mean( downs[:period] ) #first value is sum of avg losses
    downs = downs.drop(downs.index[:(period-1)])
    rs = ups.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() / \
         downs.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() 
    return 100 - (100 / (1 + rs))


# calculating Stoch RSI (gives the same values as TradingView)
# https://www.tradingview.com/wiki/Stochastic_RSI_(STOCH_RSI) 
def STRSIA(series, period=14, smoothK=3, smoothD=3):
    # Calculate RSI 
    delta = series.diff().dropna()
    ups = delta * 0
    downs = ups.copy()
    ups[delta > 0] = delta[delta > 0]
    downs[delta < 0] = -delta[delta < 0]
    ups[ups.index[period-1]] = np.mean( ups[:period] ) #first value is sum of avg gains
    ups = ups.drop(ups.index[:(period-1)])
    downs[downs.index[period-1]] = np.mean( downs[:period] ) #first value is sum of avg losses
    downs = downs.drop(downs.index[:(period-1)])
    rs = ups.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() / \
         downs.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() 
    rsi = 100 - 100 / (1 + rs)

    # Calculate StochRSI 
    stochrsi  = (rsi - rsi.rolling(period).min()) / (rsi.rolling(period).max() - rsi.rolling(period).min())
    stochrsi_K = stochrsi.rolling(smoothK).mean()
    stochrsi_D = stochrsi_K.rolling(smoothD).mean()
    return stochrsi, stochrsi_K, stochrsi_D

#Calulate SMA 
def SMA(series,size):
    sma = series.rolling(size).mean()
    return sma
#Calculate SMA55

In [85]:
whitelist=whitelist.lstrip()
array = whitelist.split(",")
array
wl = []
bl = []
blacklist = ""
whitelist = ""
symbols =[]
for i in range(0 ,len(array)):
    if (array[i].find('DOWN') != -1):
        bl.append(str(array[i]).lstrip())
        #print ("Contains given substring ")
        blacklist += str(array[i])
    elif (array[i].find('UP') != -1):
        bl.append(str(array[i]).lstrip())
        #print ("Contains given substring ")
        blacklist += str(array[i])

    else:
        wl.append(str(array[i]).lstrip().replace("/",""))
        whitelist +=str(array[i]).lstrip()
        #print ("Doesn't contains given substring")
    

    
#symbols to be used to get the prices from binance url
symbols = np.array(wl)


## get the data 
import os

live = pd.to_datetime('today')
start = pd.to_datetime(startdate)
end = pd.to_datetime(enddate)

root_url = 'https://api.binance.com/api/v1/klines'
symbol = 'STEEMETH'
#interval = '1d'
url = root_url + '?symbol=' + symbol + '&interval=' + interval
print(url)


directory = 'BN-main'
table = []
   
      
        

for symbol in symbols:
        url = root_url + '?symbol=' + symbol + '&interval=' + interval
        data = json.loads(requests.get(url).text)
        dflive = pd.DataFrame(data ,columns =['open_time',
              'o', 'h', 'l', 'c', 'v',
              'close_time', 'qav', 'num_trades',
              'taker_base_vol', 'taker_quote_vol', 'ignore'])
        dflive.open_time = pd.to_datetime(dflive['open_time'],unit='ms')
        dflive=dflive.loc[(dflive.open_time>start)]
        
        dflive = dflive.astype ({'o': float ,'h':float,'l':float ,'c':float ,'v':float})
        dflive['SMA21'] = SMA(dflive['c'],21)
        dflive['SMA55'] = SMA(dflive['c'],55)
        dflive['SMA100'] = SMA(dflive['c'],100)
        
        
        
        #print(symbol)
        lastrow = dflive.iloc[-1]
        now = float(lastrow.c)
        SMA21 = float(lastrow.SMA21)
        SMA55 = float(lastrow.SMA55)
        SMA100 = float(lastrow.SMA100)
        
        
        alth = dflive.h.max()
        altl = dflive.l.min()
        
        
        ## past 1 month 
        past_month = end - relativedelta(months=1)
        
        back1Mdata = dflive.loc[(dflive.open_time> past_month)]
        omh = back1Mdata.h.max()
        oml = back1Mdata.l.min()
        ## past 2 month
        
        past_2month = end - relativedelta(months=2)
        back2Mdata = dflive.loc[(dflive.open_time> past_2month)]
        tmh = back2Mdata.h.max()
        tml = back2Mdata.l.min()
        ## past 3 month 
        
        past_3month = end - relativedelta(months=3)
        back3Mdata = dflive.loc[(dflive.open_time> past_3month)]
        thmh = back3Mdata.h.max()
        thml = back3Mdata.l.min()
        
 
        tuple =(symbol,alth,altl,now,omh,oml,tmh,tml,thmh,thml,SMA21,SMA55,SMA100,)
        table.append(tuple)
        del dflive
        #print("name is: ",array[0] ,alth,altl)
        #print("name is: ",symbol)
        

table[0]
AllTime = pd.DataFrame(table,columns=['Indicator','ATH','ATL','Current','OMH','OML','TMH','TML','THMH','THML','SMA21','SMA55','SMA100'])
AllTime.ATH=AllTime.ATH.astype(float)
AllTime.ATL=AllTime.ATL.astype(float)
AllTime.Current=AllTime.Current.astype(float)
AllTime.OMH=AllTime.OMH.astype(float)
AllTime.OML=AllTime.OML.astype(float)
AllTime.TMH=AllTime.TMH.astype(float)
AllTime.TML=AllTime.TML.astype(float)
AllTime.THMH=AllTime.THMH.astype(float)
AllTime.THML=AllTime.THML.astype(float)
AllTime.dtypes

AllTime['ALLTIME']=(AllTime['Current']/AllTime['ATH'])*100
AllTime['MONTH']=(AllTime['Current']/AllTime['OMH'])*100
AllTime['2MONTH']=(AllTime['Current']/AllTime['TMH'])*100
AllTime['3MONTH']=(AllTime['Current']/AllTime['THMH'])*100
AllTime['SMADIFF']= abs(AllTime['SMA21']- AllTime['SMA55'])
AllTime['SMARATIO']= (AllTime['SMA21']/AllTime['SMA55'])
AllTime['GREEN'] = (AllTime['SMA21'])/2
AllTime['GREEN15'] = (AllTime['SMA21'])/1.5
AllTime['ORANGE'] = (AllTime['SMA21'])
AllTime['RED'] = (AllTime['SMA21'])*2
AllTime['CLOSERATIO']= ((AllTime['Current']- AllTime['GREEN']))/AllTime['GREEN']



AllTime.sort_values(by=['ALLTIME'],ascending=True,inplace = True)
#AllTime.sort_values(by='ATH',ascending=False)
#AllTime.to_csv("alltimeHL.csv", mode="w")
#data.sort_values("Name", axis = 0, ascending = True,inplace = True, na_position ='last')

## Display the Data 
AllTime

https://api.binance.com/api/v1/klines?symbol=STEEMETH&interval=1w

,Indicator,ATH,ATL,Current,OMH,OML,TMH,TML,THMH,THML,...,MONTH,2MONTH,3MONTH,SMADIFF,SMARATIO,GREEN,GREEN15,ORANGE,RED,CLOSERATIO
157,SUNUSDT,54.56,0.01066,0.01221,0.01736,0.01153,0.02039,0.01105,0.02039,0.01066,...,70.334101,59.882295,59.882295,4.045079,0.003927,0.007973,0.010630,0.015946,0.031891,0.531446
218,PAXUSDT,999.00,0.93880,0.99960,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000014,0.999986,0.499755,0.666340,0.999510,1.999019,1.000181
21,ICPUSDT,2831.02,11.28000,12.69000,17.91000,11.28000,23.52000,11.28000,24.68000,11.28000,...,70.854271,53.954082,51.418152,NaN,NaN,10.307381,13.743175,20.614762,41.229524,0.231157
100,EPSUSDT,22.50,0.14180,0.15850,0.30580,0.15000,0.30580,0.14800,0.30580,0.14180,...,51.831262,51.831262,51.831262,0.356101,0.362067,0.101055,0.134740,0.202110,0.404219,0.568457
45,TLMUSDT,5.95,0.06630,0.07330,0.10670,0.07000,0.14830,0.07000,0.16450,0.07000,...,68.697282,49.426837,44.559271,0.082014,0.611510,0.064548,0.086063,0.129095,0.258190,0.135596
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,BNBUSDT,691.77,6.38000,378.10000,431.40000,370.70000,460.00000,359.50000,460.00000,323.50000,...,87.644877,82.195652,82.195652,15.136502,0.965380,211.040476,281.387302,422.080952,844.161905,0.791599
11,ETHUSDT,4868.00,86.00000,2748.22000,3213.63000,2683.00000,3580.34000,2445.00000,3580.34000,2300.00000,...,85.517623,76.758632,76.758632,105.332563,0.966618,1525.033810,2033.378413,3050.067619,6100.135238,0.802072
32,TWTUSDT,1.65,0.16980,0.97250,1.35900,0.90000,1.54990,0.61250,1.54990,0.40380,...,71.559971,62.745984,62.745984,0.018101,1.022821,0.405645,0.540860,0.811290,1.622581,1.397415
42,LUNAUSDT,119.55,0.27330,80.79000,99.43000,75.67000,119.55000,75.58000,119.55000,47.29000,...,81.253143,67.578419,67.578419,32.429027,1.694751,39.553095,52.737460,79.106190,158.212381,1.042571
236,PAXGUSDT,2100.85,1687.57000,1877.00000,1999.00000,1851.00000,2071.00000,1851.00000,2076.00000,1794.00000,...,93.896948,90.632545,90.414258,47.777169,1.025931,945.142857,1260.190476,1890.285714,3780.571429,0.985943

In [86]:
#for i, j in zip(range(0,len(AllTime.index),70), range(70,len(AllTime.index),70)):
    #print(i,j)
    #print(AllTime.iloc[i:j,0:5])
    #if j+70 > len(AllTime.index):
        #print(j,len(AllTime.index))
        #print(AllTime.iloc[j:len(AllTime.index),0:5])
test=AllTime.loc[AllTime['Indicator']=='GRTUSDT']
test

,Indicator,ATH,ATL,Current,OMH,OML,TMH,TML,THMH,THML,...,MONTH,2MONTH,3MONTH,SMADIFF,SMARATIO,GREEN,GREEN15,ORANGE,RED,CLOSERATIO
55,GRTUSDT,2.88073,0.03,0.2971,0.4109,0.2858,0.5507,0.2858,0.5507,0.2858,...,72.304697,53.949519,53.949519,0.262853,0.628964,0.222788,0.297051,0.445576,0.891152,0.333554

In [87]:
#drop = AllTime.loc[(AllTime['RSI'] < 30)& (AllTime['STRSI'] < 0.1)]
#drop = AllTime.loc[(AllTime['SMARATIO'] <  1.05 ) &(AllTime['SMARATIO'] > 0.95)& (AllTime['ALLTIME'] <70) ]
#drop = AllTime.loc[(AllTime['Current'] <= AllTime['SMA21'])]
drop = AllTime.loc[(AllTime['Current'] <= AllTime['SMA21']/1.8)]
#drop = AllTime.loc[(AllTime['Current'] <= AllTime['GREEN15'])]

#drop = AllTime.loc[(AllTime['SMARATIO'] <  1 ) &(AllTime['SMARATIO'] > 0.95) & (AllTime['ALLTIME'] <70)]

#drop = AllTime.loc[(AllTime['MONTH'] < 80)&(AllTime[ '2MONTH'] < 70)&(AllTime['ALLTIME'] < 40)]
#drop = AllTime.loc[(AllTime['MONTH'] <70)&(AllTime['2MONTH'] > (AllTime['3MONTH']))]

sort = drop.sort_values(by=['CLOSERATIO'],ascending=False,inplace = True) 
#sort = drop.sort_values(by=['ALLTIME'],ascending=True,inplace = True) 

#drop = drop.loc[(drop['ALLTIME'] < drop['3MONTH'])]
display = drop[['Indicator','ATH','RED','ORANGE','GREEN','Current']]
#print(drop)
save = drop[['Indicator','ATH','CLOSERATIO','RED','ORANGE','GREEN','Current']]
save=save.drop_duplicates(subset='Indicator',keep='last')

#print(save)

save.to_csv("easyband.csv")
print(str(date.today()))
#print(date)
save.to_csv("easyband"+str(date.today())+".csv")

print("Low EASY Band")

display    
#print(display.iloc[0:60,0:14])
#print(display.iloc[60:110,])
#print(display.iloc[110:160,])

2022-05-06
Low EASY Band

/Users/hjabbour/opt/anaconda3/envs/cryptodev/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

     Indicator       ATH         RED     ORANGE      GREEN   Current
171    ANTUSDT   43.0000   11.858667   5.929333   2.964667   3.22900
88     RAYUSDT   17.8000    7.566762   3.783381   1.891690   2.05400
110   DODOUSDT   10.0000    1.071143   0.535571   0.267786   0.28700
254   BONDUSDT   75.0000   20.673333  10.336667   5.168333   5.52000
204  TRIBEUSDT    1.5209    1.357810   0.678905   0.339452   0.36220
52   SUSHIUSDT   23.4300    8.802000   4.401000   2.200500   2.29400
221    WTCUSDT    2.9242    1.136248   0.568124   0.284062   0.28880
160   NANOUSDT   17.7000    9.021524   4.510762   2.255381   2.22400
144    RSRUSDT    0.1190    0.036019   0.018010   0.009005   0.00887
220   DUSKUSDT    1.1743    0.939295   0.469648   0.234824   0.22720
12     AXSUSDT  166.0900  120.385714  60.192857  30.096429  28.82000
169   PONDUSDT    0.3180    0.082910   0.041455   0.020727   0.01852
116    ONEUSDT    0.3800    0.357182   0.178591   0.089295   0.07966
20     FTMUSDT    3.4842    3.373429   1.686714   0.843357   0.73680
185   PERPUSDT   26.2100   11.818095   5.909048   2.954524   2.43000

In [88]:
allbands = AllTime[['Indicator','RED','ORANGE','GREEN','Current']]
allbands.to_csv("allbands.csv")
allbands

    Indicator          RED       ORANGE        GREEN     Current
157   SUNUSDT     0.031891     0.015946     0.007973     0.01221
218   PAXUSDT     1.999019     0.999510     0.499755     0.99960
21    ICPUSDT    41.229524    20.614762    10.307381    12.69000
100   EPSUSDT     0.404219     0.202110     0.101055     0.15850
45    TLMUSDT     0.258190     0.129095     0.064548     0.07330
..        ...          ...          ...          ...         ...
16    BNBUSDT   844.161905   422.080952   211.040476   378.10000
11    ETHUSDT  6100.135238  3050.067619  1525.033810  2748.22000
32    TWTUSDT     1.622581     0.811290     0.405645     0.97250
42   LUNAUSDT   158.212381    79.106190    39.553095    80.79000
236  PAXGUSDT  3780.571429  1890.285714   945.142857  1877.00000

[259 rows x 5 columns]

In [89]:
# red band 

## band to sell in down trends
redband = AllTime.loc[(AllTime['Current'] >= 2*AllTime['SMA21'])]
redband.to_csv("redband.csv")
redband

Empty DataFrame
Columns: [Indicator, ATH, ATL, Current, OMH, OML, TMH, TML, THMH, THML, SMA21, SMA55, SMA100, ALLTIME, MONTH, 2MONTH, 3MONTH, SMADIFF, SMARATIO, GREEN, GREEN15, ORANGE, RED, CLOSERATIO]
Index: []

[0 rows x 24 columns]

In [90]:
## band to sell in down trends
orangeband = AllTime.loc[(AllTime['Current'] >= AllTime['SMA21'])]
test = orangeband[['Indicator','GREEN','ORANGE','RED','Current']]
test.to_csv("orangeband.csv")
test

    Indicator      GREEN      ORANGE         RED    Current
218   PAXUSDT   0.499755    0.999510    1.999019    0.99960
178   MTLUSDT   0.927262    1.854524    3.709048    1.86100
173   ACMUSDT   2.565500    5.131000   10.262000    5.39100
92    ZILUSDT   0.035165    0.070330    0.140660    0.07588
142   ZRXUSDT   0.340557    0.681114    1.362229    0.71170
177   JSTUSDT   0.028272    0.056544    0.113088    0.06056
83   RUNEUSDT   3.250738    6.501476   13.002952    6.68000
242   GXSUSDT   0.853738    1.707476    3.414952    1.79230
189  TUSDUSDT   0.499869    0.999738    1.999476    1.00020
121   XMRUSDT  98.178571  196.357143  392.714286  207.10000
44    TRXUSDT   0.033363    0.066726    0.133451    0.07925
150   KNCUSDT   1.263000    2.526000    5.052000    2.95600
214  TORNUSDT  19.204286   38.408571   76.817143   52.99000
32    TWTUSDT   0.405645    0.811290    1.622581    0.97250
42   LUNAUSDT  39.553095   79.106190  158.212381   80.79000

In [91]:
#easybandlist = display['Indicator']
#easybandlist

## GREEN 15

In [92]:
## GREEN 15
#display.Current.astype(float)

display = display.loc[:] 
display['ORatio'] = display['ORANGE']/display['Current'] 
#display = display.loc[display['CLOSERATIO']> 0.01]
display

#display

     Indicator       ATH         RED     ORANGE      GREEN   Current    ORatio
171    ANTUSDT   43.0000   11.858667   5.929333   2.964667   3.22900  1.836275
88     RAYUSDT   17.8000    7.566762   3.783381   1.891690   2.05400  1.841958
110   DODOUSDT   10.0000    1.071143   0.535571   0.267786   0.28700  1.866103
254   BONDUSDT   75.0000   20.673333  10.336667   5.168333   5.52000  1.872585
204  TRIBEUSDT    1.5209    1.357810   0.678905   0.339452   0.36220  1.874392
52   SUSHIUSDT   23.4300    8.802000   4.401000   2.200500   2.29400  1.918483
221    WTCUSDT    2.9242    1.136248   0.568124   0.284062   0.28880  1.967188
160   NANOUSDT   17.7000    9.021524   4.510762   2.255381   2.22400  2.028220
144    RSRUSDT    0.1190    0.036019   0.018010   0.009005   0.00887  2.030386
220   DUSKUSDT    1.1743    0.939295   0.469648   0.234824   0.22720  2.067111
12     AXSUSDT  166.0900  120.385714  60.192857  30.096429  28.82000  2.088579
169   PONDUSDT    0.3180    0.082910   0.041455   0.020727   0.01852  2.238378
116    ONEUSDT    0.3800    0.357182   0.178591   0.089295   0.07966  2.241915
20     FTMUSDT    3.4842    3.373429   1.686714   0.843357   0.73680  2.289243
185   PERPUSDT   26.2100   11.818095   5.909048   2.954524   2.43000  2.431707

# entries

In [93]:

#entrylist =[['ANKRUSDT',0.07684],['AVAXUSDT',57],['WAXPUSDT',0.3818],['REEFUSDT',0.01131],['LINKUSDT',14.15],['ARUSDT',30],['ATOMUSDT',23],['MIRUSDT',2.343],['ALGOUSDT',0.909],['ZRXUSDT',0.60],['XTZUSDT',2.856],['KSMUSDT',163],['NEARUSDT',14],['WINUSDT',0.0003138],['CELRUSDT',0.05063],['DENTUSDT',0.002459],['LRCUSDT',0.7047],['CRVUSDT',3.529],['IMXUSDT',2.709],['SCRTUSDT',5],['RENUSDT',0.2547],['SUSHIUSDT',4.522],['CAKEUSDT',11.24],['XLMUSDT',0.2109],['HNTUSDT',30],['OMGUSDT',4.5],['LINAUSDT',0.024],['MIRUSDT',2.343],['FLUXUSDT',1.523]]
entrylist =[['ANKRUSDT',0.05415],['AVAXUSDT',57],['WAXPUSDT',0.2551],['REEFUSDT',0.00806],['LINKUSDT',13],['ARUSDT',26],['ATOMUSDT',22],['MIRUSDT',2.343],['ALGOUSDT',0.7046],['ZRXUSDT',0.50],['XTZUSDT',2.856],['KSMUSDT',150],['NEARUSDT',10.320],['WINUSDT',0.0003138],['DENTUSDT',0.002459],['LRCUSDT',0.677],['CRVUSDT',2.12],['IMXUSDT',1.30],['SCRTUSDT',4.3],['RENUSDT',0.3047],['SUSHIUSDT',3.5],['CAKEUSDT',11.24],['XLMUSDT',0.2109],['HNTUSDT',16.9],['OMGUSDT',4.5],['LINAUSDT',0.01759],['FLUXUSDT',1.523],['SRMUSDT',1.8],['VTHOUSDT',0.0031],['ANTUSDT',3.8],['RAYUSDT',2.5],['ROSEUSDT',0.23055],['MOVRUSDT',51.6],['TFUELUSDT',0.16],['GLMRUSDT',4.5],['COTIUSDT',0.2277],['ONEUSDT',0.10518],['VETUSDT',0.05138],['RUNEUSDT',3.709],['CELRUSDT',0.034063],['ONTUSDT',0.4652],['GALAUSDT',0.17],['GRTUSDT',0.3164],['DOTUSDT',16.31],['ZILUSDT',0.04410],['FILUSDT',20],['SCUSDT',0.011],['MATICUSDT',1.4],['FTMUSDT',1.15],['BANDUSDT',3.6],['1INCHUSDT',1.6],['AUDIOUSDT',1.0],['IOTXUSDT','0.07109'],['CTSIUSDT','0.32'],['LUNAUSDT','13'],['SOLUSDT','35'],['MINAUSDT','1.96'],['BTCUSDT','39000'],['ADAUSDT','0.86'],['STORJUSDT','1.05'],['THETAUSDT','3'],['MANAUSDT','1.85'],['PAXGUSDT','1785'],['INJUSDT','5']]
exposurelist =[['ANKRUSDT',311],['AVAXUSDT',2850],['WAXPUSDT',527],['REEFUSDT',700],['LINKUSDT',6000],['ARUSDT',2450],['ATOMUSDT',1863],['MIRUSDT',85],['ALGOUSDT',3300],['ZRXUSDT',245],['XTZUSDT',1200],['KSMUSDT',7800],['NEARUSDT',1360],['WINUSDT',285],['DENTUSDT',385],['LRCUSDT',660],['CRVUSDT',323],['IMXUSDT',269],['SCRTUSDT',601],['RENUSDT',684],['SUSHIUSDT',2730],['CAKEUSDT',4000],['XLMUSDT',368],['HNTUSDT',1250],['OMGUSDT',765],['LINAUSDT',205],['FLUXUSDT',224],['SRMUSDT',587],['VTHOUSDT',413],['ANTUSDT',200],['RAYUSDT',100],['ROSEUSDT',634],['MOVRUSDT',500],['TFUELUSDT',344],['GLMRUSDT',400],['COTIUSDT',500],['ONEUSDT',1000],['VETUSDT',500],['RUNEUSDT',750],['CELRUSDT',500],['ONTUSDT',400],['GALAUSDT',650],['GRTUSDT',1700],['DOTUSDT',10000],['ZILUSDT',1000],['FILUSDT',2000],['SCUSDT',200],['MATICUSDT',8000],['FTMUSDT',2000],['BANDUSDT',750],['1INCHUSDT',1000],['AUDIOUSDT',700],['IOTXUSDT',500],['CTSIUSDT',325],['LUNAUSDT','4000'],['SOLUSDT','3000'],['DOTUSDT','10000']]
startdate = '2021-01-01'
entries = pd.DataFrame(entrylist, columns =['Indicator', 'lowest_entry'],dtype = float) 
entries
entries.lowest_entry.astype(float)

indicator_list = entries['Indicator']
#indicator_list
#entries
entries.to_csv("entries.csv")

exposure = pd.DataFrame(exposurelist, columns =['Indicator', 'exposure'],dtype = float) 
exposure
exposure.exposure.astype(float)
#indicator_list
#entries
exposure.to_csv("exposure.csv")

entries = entries.merge(exposure ,how="left",on="Indicator")
#entries

fixentries = entries.merge(display ,how='left',on=['Indicator'])
#fixentries = fixentries.merge(exposure,how='left',on=['Indicator'])
#fixentries
#entries1 = entries.merge(fixentries,how='left',on=['Indicator'])
fixentries = fixentries.dropna(axis=0,subset=['ATH'])
fixentries=fixentries.drop_duplicates(subset='Indicator',keep='last')
fixentries.lowest_entry.astype(float)
fixentries.Current.astype(float)


fixentries['DROP'] = ((fixentries.lowest_entry - fixentries.Current)/fixentries.lowest_entry)*100
fixentries.sort_values(by=['DROP'],ascending=False,inplace = True)
fixentries

/Users/hjabbour/opt/anaconda3/envs/cryptodev/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP
49,FTMUSDT,1.15000,2000.0,3.4842,3.373429,1.686714,0.843357,0.73680,2.289243,35.930435
20,SUSHIUSDT,3.50000,2730.0,23.4300,8.802000,4.401000,2.200500,2.29400,1.918483,34.457143
36,ONEUSDT,0.10518,1000.0,0.3800,0.357182,0.178591,0.089295,0.07966,2.241915,24.263168
30,RAYUSDT,2.50000,100.0,17.8000,7.566762,3.783381,1.891690,2.05400,1.841958,17.840000
29,ANTUSDT,3.80000,200.0,43.0000,11.858667,5.929333,2.964667,3.22900,1.836275,15.026316

# Red Band

In [94]:
## over red entries 
overred = redband.merge(entries ,how="left",on="Indicator")
overed = overred.dropna(axis=0,subset=['RED'])
overred= overred[['Indicator','GREEN','ORANGE','RED','Current']]
overred

Empty DataFrame
Columns: [Indicator, GREEN, ORANGE, RED, Current]
Index: []

# Orange Band

In [95]:
## over orange entries 
overorange = entries.merge(orangeband ,how="left",on="Indicator")
overorange = overorange.dropna(axis=0,subset=['GREEN'])
overoranged= overorange[['Indicator','GREEN','ORANGE','RED','Current']]
overoranged

   Indicator      GREEN     ORANGE         RED   Current
9    ZRXUSDT   0.340557   0.681114    1.362229   0.71170
38  RUNEUSDT   3.250738   6.501476   13.002952   6.68000
45   ZILUSDT   0.035165   0.070330    0.140660   0.07588
55  LUNAUSDT  39.553095  79.106190  158.212381  80.79000

In [96]:
save = fixentries
save.to_csv("fixoneasy.csv")
save
del fixentries

In [97]:
#Gap is an acceptable area for rebounce and exit
orangedrop = save.loc[:]
orangedrop['GapOrange']= orangedrop['ORANGE']/orangedrop['Current']
orangedrop['GapRed']= orangedrop['RED']/orangedrop['Current']
orangedrop['GapATH']= orangedrop['ATH']/orangedrop['Current']
#orangedrop['GapAORT']= (orangedrop['GapATH']*orangedrop['GapOrange'])


orangedrop

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH
49,FTMUSDT,1.15000,2000.0,3.4842,3.373429,1.686714,0.843357,0.73680,2.289243,35.930435,2.289243,4.578486,4.728827
20,SUSHIUSDT,3.50000,2730.0,23.4300,8.802000,4.401000,2.200500,2.29400,1.918483,34.457143,1.918483,3.836966,10.213601
36,ONEUSDT,0.10518,1000.0,0.3800,0.357182,0.178591,0.089295,0.07966,2.241915,24.263168,2.241915,4.483830,4.770274
30,RAYUSDT,2.50000,100.0,17.8000,7.566762,3.783381,1.891690,2.05400,1.841958,17.840000,1.841958,3.683915,8.666018
29,ANTUSDT,3.80000,200.0,43.0000,11.858667,5.929333,2.964667,3.22900,1.836275,15.026316,1.836275,3.672551,13.316816

In [98]:
# multiplying the gap with the value of the drop for a reasonable recovery
exposuredrop = orangedrop
exposuredrop['Total']= exposuredrop['exposure']*exposuredrop['DROP']*exposuredrop['GapOrange']
#exposuredrop['Total']= exposuredrop['DROP']*exposuredrop['GapOrange']*exposuredrop['CLOSERATIO']
#exposuredrop['Total']= exposuredrop['GapOrange']*exposuredrop['DROP']
#exposuredrop = exposuredrop.loc[exposuredrop['DROP']>0]

#exposuredrop.sort_values(by=['GapOrange'],ascending=False,inplace = True)
#exposuredrop.sort_values(by=['CLOSERATIO'],ascending=False,inplace = True)

exposuredrop

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total
49,FTMUSDT,1.15000,2000.0,3.4842,3.373429,1.686714,0.843357,0.73680,2.289243,35.930435,2.289243,4.578486,4.728827,164506.996851
20,SUSHIUSDT,3.50000,2730.0,23.4300,8.802000,4.401000,2.200500,2.29400,1.918483,34.457143,1.918483,3.836966,10.213601,180467.858762
36,ONEUSDT,0.10518,1000.0,0.3800,0.357182,0.178591,0.089295,0.07966,2.241915,24.263168,2.241915,4.483830,4.770274,54395.961129
30,RAYUSDT,2.50000,100.0,17.8000,7.566762,3.783381,1.891690,2.05400,1.841958,17.840000,1.841958,3.683915,8.666018,3286.052395
29,ANTUSDT,3.80000,200.0,43.0000,11.858667,5.929333,2.964667,3.22900,1.836275,15.026316,1.836275,3.672551,13.316816,5518.490869

In [99]:
exposuredrop.to_csv("exposuredrop.csv")

In [100]:
# easy band and cap ratio
capratio = pd.read_csv('capratio.csv')
capratio = pd.DataFrame(capratio,columns=['Indicator','supply_ratio','cap_ratio'])
capratio

exposuredrop = exposuredrop.merge(capratio ,how='left',on=['Indicator'])
sort = exposuredrop.sort_values(by=['Total'],ascending=False,inplace = True)

exposuredrop

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total,supply_ratio,cap_ratio
1,SUSHIUSDT,3.50000,2730.0,23.4300,8.802000,4.401000,2.200500,2.29400,1.918483,34.457143,1.918483,3.836966,10.213601,180467.858762,0.771157,0.771157
0,FTMUSDT,1.15000,2000.0,3.4842,3.373429,1.686714,0.843357,0.73680,2.289243,35.930435,2.289243,4.578486,4.728827,164506.996851,0.800363,0.800363
2,ONEUSDT,0.10518,1000.0,0.3800,0.357182,0.178591,0.089295,0.07966,2.241915,24.263168,2.241915,4.483830,4.770274,54395.961129,0.898427,0.898427
4,ANTUSDT,3.80000,200.0,43.0000,11.858667,5.929333,2.964667,3.22900,1.836275,15.026316,1.836275,3.672551,13.316816,5518.490869,NaN,NaN
3,RAYUSDT,2.50000,100.0,17.8000,7.566762,3.783381,1.891690,2.05400,1.841958,17.840000,1.841958,3.683915,8.666018,3286.052395,NaN,NaN

In [101]:
undergreen = exposuredrop.loc[exposuredrop['Current'] < exposuredrop['GREEN']]
undergreen

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total,supply_ratio,cap_ratio
0,FTMUSDT,1.15000,2000.0,3.4842,3.373429,1.686714,0.843357,0.73680,2.289243,35.930435,2.289243,4.578486,4.728827,164506.996851,0.800363,0.800363
2,ONEUSDT,0.10518,1000.0,0.3800,0.357182,0.178591,0.089295,0.07966,2.241915,24.263168,2.241915,4.483830,4.770274,54395.961129,0.898427,0.898427