Generate the easy band in the first section based on live data 
compare it to the entries in the second part

In [190]:
import numpy as np 
import pandas as pd 
from datetime import date
#Data Source (Pandas Data Reader)
from pandas_datareader import data
import requests 
import json
from dateutil.relativedelta import relativedelta


#Data Source(Pandas Data Reader)

In [191]:
whitelist = 'POWR/USDT, MDT/USDT,BLZ/USDT, CHR/USDT, ORN/USDT, VIDT/USDT, IRIS/USDT, SHIB/USDT, MATIC/USDT,ALGO/USDT, BTC/USDT, ETH/USDT, AXS/USDT, SOL/USDT, MATIC/USDT, ADA/USDT, BNB/USDT, FIL/USDT, XRP/USDT, CVC/USDT, FTM/USDT, ICP/USDT, DOGE/USDT, XEC/USDT, IOTA/USDT, AVAX/USDT, DOT/USDT, LTC/USDT, EOS/USDT, IOST/USDT, STMX/USDT, FTT/USDT, TWT/USDT, ALICE/USDT, ATA/USDT, ETC/USDT, VET/USDT, SAND/USDT, LINK/USDT, THETA/USDT, SHIB/USDT, CHZ/USDT, LUNA/USDT, IOTX/USDT, TRX/USDT, TLM/USDT, BCH/USDT, REEF/USDT, CAKE/USDT, NEO/USDT,RVN/USDT, ATOM/USDT, SUSHI/USDT, ARDR/USDT, OMG/USDT, GRT/USDT, 1INCH/USDT, AAVE/USDT, C98/USDT, UNI/USDT, HBAR/USDT, CRV/USDT, DENT/USDT, MBOX/USDT, BTT/USDT, SRM/USDT, YFI/USDT, HOT/USDT, XLM/USDT, FIS/USDT, REQ/USDT, SXP/USDT, KSM/USDT, QNT/USDT, NEAR/USDT, COMP/USDT, QTUM/USDT, CHR/USDT, SC/USDT, XVS/USDT, ONT/USDT, COTI/USDT, NKN/USDT, RUNE/USDT, ANKR/USDT, MANA/USDT, CTXC/USDT, AR/USDT, RAY/USDT, BAKE/USDT, ARPA/USDT, XTZ/USDT, ZIL/USDT, ONG/USDT, ROSE/USDT, PNT/USDT, ALGO/USDT, MINA/USDT, WIN/USDT, AUDIO/USDT, STORJ/USDT, EPS/USDT, MDX/USDT, ZEC/USDT, ENJ/USDT, HIVE/USDT, TFUEL/USDT, WRX/USDT, SNX/USDT, SKL/USDT, LINA/USDT, DODO/USDT, UNFI/USDT, XEM/USDT, EGLD/USDT, ICX/USDT, WAVES/USDT, ONE/USDT, DASH/USDT, KAVA/USDT, SUPER/USDT, TKO/USDT, OGN/USDT, XMR/USDT, OCEAN/USDT, CELO/USDT, BAT/USDT, FUN/USDT, LRC/USDT, ALPHA/USDT, MASK/USDT, TRU/USDT, DNT/USDT, LIT/USDT, FET/USDT, GTC/USDT, CELR/USDT, DEXE/USDT, ZEN/USDT, WAXP/USDT, CTSI/USDT, HNT/USDT, YFII/USDT, BEL/USDT, ZRX/USDT, DEGO/USDT, RSR/USDT, COS/USDT, FLM/USDT, BAL/USDT, MFT/USDT, RLC/USDT, KNC/USDT, REN/USDT, INJ/USDT, FLOW/USDT, SFP/USDT, BAND/USDT, CTK/USDT, SUN/USDT, AKRO/USDT, XVG/USDT, NANO/USDT, STRAX/USDT, PUNDIX/USDT, TVK/USDT, MKR/USDT, CLV/USDT, TRB/USDT, ETHUP/USDT, KEEP/USDT, TCT/USDT, POND/USDT, LTO/USDT, ANT/USDT, TOMO/USDT, ACM/USDT, FIO/USDT, VITE/USDT, MBL/USDT, JST/USDT, MTL/USDT, UTK/USDT, BLZ/USDT, ORN/USDT, STPT/USDT, CFX/USDT, OM/USDT, PERP/USDT, MIR/USDT, STX/USDT, ERN/USDT, TUSD/USDT, PSG/USDT, NULS/USDT, OXT/USDT, REP/USDT, BNBUP/USDT, DATA/USDT, WAN/USDT, BURGER/USDT, RAMP/USDT, ATM/USDT, DGB/USDT, DIA/USDT, BEAM/USDT, UMA/USDT, ETHDOWN/USDT, CKB/USDT, TRIBE/USDT, FARM/USDT, BTCUP/USDT, BZRX/USDT, ALPACA/USDT, DOTUP/USDT, BTS/USDT, FOR/USDT, ADAUP/USDT, HARD/USDT, LSK/USDT, POLS/USDT, FORTH/USDT, TORN/USDT, VTHO/USDT, BTG/USDT, QUICK/USDT, FILUP/USDT, PAX/USDT, MITH/USDT, SUSHIUP/USDT, BTCDOWN/USDT, XRPDOWN/USDT, BNBDOWN/USDT, DUSK/USDT, XRPUP/USDT, WTC/USDT, DOCK/USDT, AUTO/USDT, BTCST/USDT, KLAY/USDT, WNXM/USDT, KEY/USDT, FILDOWN/USDT, NU/USDT, IRIS/USDT, KMD/USDT, TROY/USDT, WING/USDT, AION/USDT, PHA/USDT, SUSHIDOWN/USDT, EOSUP/USDT, LTCUP/USDT, GHST/USDT, PAXG/USDT, BNT/USDT, AVA/USDT, BADGER/USDT, PERL/USDT, COCOS/USDT, GXS/USDT, MDT/USDT, 1INCHUP/USDT, GTO/USDT, LINKUP/USDT, AAVEUP/USDT, FIRO/USDT, JUV/USDT, MLN/USDT, UNIUP/USDT, LPT/USDT, NMR/USDT, AAVEDOWN/USDT, 1INCHDOWN/USDT, ASR/USDT, OG/USDT, BAR/USDT, DREP/USDT, BOND/USDT, DCR/USDT, GNO/USDT, NBS/USDT, RIF/USDT'
#whitelist = 'LINK/USDT, DOT/USDT'
startdate = '2020-01-01'
enddate = '2022-03-22'
enddate = pd.to_datetime('today')

interval = '1w'

In [192]:
def FRSI(series, period=14):
    delta = series.diff().dropna()
    ups = delta * 0
    downs = ups.copy()
    ups[delta > 0] = delta[delta > 0]
    downs[delta < 0] = -delta[delta < 0]
    ups[ups.index[period-1]] = np.mean( ups[:period] ) #first value is sum of avg gains
    ups = ups.drop(ups.index[:(period-1)])
    downs[downs.index[period-1]] = np.mean( downs[:period] ) #first value is sum of avg losses
    downs = downs.drop(downs.index[:(period-1)])
    rs = ups.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() / \
         downs.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() 
    return 100 - (100 / (1 + rs))


# calculating Stoch RSI (gives the same values as TradingView)
# https://www.tradingview.com/wiki/Stochastic_RSI_(STOCH_RSI) 
def STRSIA(series, period=14, smoothK=3, smoothD=3):
    # Calculate RSI 
    delta = series.diff().dropna()
    ups = delta * 0
    downs = ups.copy()
    ups[delta > 0] = delta[delta > 0]
    downs[delta < 0] = -delta[delta < 0]
    ups[ups.index[period-1]] = np.mean( ups[:period] ) #first value is sum of avg gains
    ups = ups.drop(ups.index[:(period-1)])
    downs[downs.index[period-1]] = np.mean( downs[:period] ) #first value is sum of avg losses
    downs = downs.drop(downs.index[:(period-1)])
    rs = ups.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() / \
         downs.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() 
    rsi = 100 - 100 / (1 + rs)

    # Calculate StochRSI 
    stochrsi  = (rsi - rsi.rolling(period).min()) / (rsi.rolling(period).max() - rsi.rolling(period).min())
    stochrsi_K = stochrsi.rolling(smoothK).mean()
    stochrsi_D = stochrsi_K.rolling(smoothD).mean()
    return stochrsi, stochrsi_K, stochrsi_D

#Calulate SMA 
def SMA(series,size):
    sma = series.rolling(size).mean()
    return sma
#Calculate SMA55

In [193]:
whitelist=whitelist.lstrip()
array = whitelist.split(",")
array
wl = []
bl = []
blacklist = ""
whitelist = ""
symbols =[]
for i in range(0 ,len(array)):
    if (array[i].find('DOWN') != -1):
        bl.append(str(array[i]).lstrip())
        #print ("Contains given substring ")
        blacklist += str(array[i])
    elif (array[i].find('UP') != -1):
        bl.append(str(array[i]).lstrip())
        #print ("Contains given substring ")
        blacklist += str(array[i])

    else:
        wl.append(str(array[i]).lstrip().replace("/",""))
        whitelist +=str(array[i]).lstrip()
        #print ("Doesn't contains given substring")
    

    
#symbols to be used to get the prices from binance url
symbols = np.array(wl)


## get the data 
import os

live = pd.to_datetime('today')
start = pd.to_datetime(startdate)
end = pd.to_datetime(enddate)

root_url = 'https://api.binance.com/api/v1/klines'
symbol = 'STEEMETH'
#interval = '1d'
url = root_url + '?symbol=' + symbol + '&interval=' + interval
print(url)


directory = 'BN-main'
table = []
   
      
        

for symbol in symbols:
        url = root_url + '?symbol=' + symbol + '&interval=' + interval
        data = json.loads(requests.get(url).text)
        dflive = pd.DataFrame(data ,columns =['open_time',
              'o', 'h', 'l', 'c', 'v',
              'close_time', 'qav', 'num_trades',
              'taker_base_vol', 'taker_quote_vol', 'ignore'])
        dflive.open_time = pd.to_datetime(dflive['open_time'],unit='ms')
        dflive=dflive.loc[(dflive.open_time>start)]
        
        dflive = dflive.astype ({'o': float ,'h':float,'l':float ,'c':float ,'v':float})
        dflive['SMA21'] = SMA(dflive['c'],21)
        dflive['SMA55'] = SMA(dflive['c'],55)
        dflive['SMA100'] = SMA(dflive['c'],100)
        
        
        
        #print(symbol)
        lastrow = dflive.iloc[-1]
        now = float(lastrow.c)
        SMA21 = float(lastrow.SMA21)
        SMA55 = float(lastrow.SMA55)
        SMA100 = float(lastrow.SMA100)
        
        
        alth = dflive.h.max()
        altl = dflive.l.min()
        
        
        ## past 1 month 
        past_month = end - relativedelta(months=1)
        
        back1Mdata = dflive.loc[(dflive.open_time> past_month)]
        omh = back1Mdata.h.max()
        oml = back1Mdata.l.min()
        ## past 2 month
        
        past_2month = end - relativedelta(months=2)
        back2Mdata = dflive.loc[(dflive.open_time> past_2month)]
        tmh = back2Mdata.h.max()
        tml = back2Mdata.l.min()
        ## past 3 month 
        
        past_3month = end - relativedelta(months=3)
        back3Mdata = dflive.loc[(dflive.open_time> past_3month)]
        thmh = back3Mdata.h.max()
        thml = back3Mdata.l.min()
        
 
        tuple =(symbol,alth,altl,now,omh,oml,tmh,tml,thmh,thml,SMA21,SMA55,SMA100,)
        table.append(tuple)
        del dflive
        #print("name is: ",array[0] ,alth,altl)
        #print("name is: ",symbol)
        

table[0]
AllTime = pd.DataFrame(table,columns=['Indicator','ATH','ATL','Current','OMH','OML','TMH','TML','THMH','THML','SMA21','SMA55','SMA100'])
AllTime.ATH=AllTime.ATH.astype(float)
AllTime.ATL=AllTime.ATL.astype(float)
AllTime.Current=AllTime.Current.astype(float)
AllTime.OMH=AllTime.OMH.astype(float)
AllTime.OML=AllTime.OML.astype(float)
AllTime.TMH=AllTime.TMH.astype(float)
AllTime.TML=AllTime.TML.astype(float)
AllTime.THMH=AllTime.THMH.astype(float)
AllTime.THML=AllTime.THML.astype(float)
AllTime.dtypes

AllTime['ALLTIME']=(AllTime['Current']/AllTime['ATH'])*100
AllTime['MONTH']=(AllTime['Current']/AllTime['OMH'])*100
AllTime['2MONTH']=(AllTime['Current']/AllTime['TMH'])*100
AllTime['3MONTH']=(AllTime['Current']/AllTime['THMH'])*100
AllTime['SMADIFF']= abs(AllTime['SMA21']- AllTime['SMA55'])
AllTime['SMARATIO']= (AllTime['SMA21']/AllTime['SMA55'])
AllTime['GREEN'] = (AllTime['SMA21'])/2
AllTime['GREEN15'] = (AllTime['SMA21'])/1.5
AllTime['ORANGE'] = (AllTime['SMA21'])
AllTime['RED'] = (AllTime['SMA21'])*2
AllTime['CLOSERATIO']= (abs(AllTime['Current']- AllTime['GREEN']))/AllTime['GREEN']



AllTime.sort_values(by=['ALLTIME'],ascending=True,inplace = True)
#AllTime.sort_values(by='ATH',ascending=False)
#AllTime.to_csv("alltimeHL.csv", mode="w")
#data.sort_values("Name", axis = 0, ascending = True,inplace = True, na_position ='last')

## Display the Data 
AllTime

https://api.binance.com/api/v1/klines?symbol=STEEMETH&interval=1w

,Indicator,ATH,ATL,Current,OMH,OML,TMH,TML,THMH,THML,...,MONTH,2MONTH,3MONTH,SMADIFF,SMARATIO,GREEN,GREEN15,ORANGE,RED,CLOSERATIO
158,SUNUSDT,54.560,0.01066,0.01556,0.02039,0.01106,0.02039,0.01066,0.02194,0.01066,...,76.311918,76.311918,70.920693,6.967001,0.002708,0.009457,0.012610,0.018915,0.037830,0.645276
219,PAXUSDT,999.000,0.93880,0.99960,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000014,0.999986,0.499755,0.666340,0.999510,1.999019,1.000181
21,ICPUSDT,2831.020,14.68000,19.39000,23.52000,15.34000,23.52000,14.68000,37.79000,14.68000,...,82.440476,82.440476,51.309870,NaN,NaN,12.394048,16.525397,24.788095,49.576190,0.564461
101,EPSUSDT,22.500,0.14180,0.23160,0.27740,0.14800,0.27740,0.14180,0.29500,0.14180,...,83.489546,83.489546,78.508475,NaN,NaN,0.121440,0.161921,0.242881,0.485762,0.907107
225,BTCSTUSDT,1000.000,8.00000,17.70000,22.73000,13.96000,26.50000,12.21000,26.50000,12.21000,...,77.870656,66.792453,66.792453,8.588116,0.702495,10.139524,13.519365,20.279048,40.558095,0.745644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,TWTUSDT,1.650,0.16980,1.23980,1.54990,0.61250,1.54990,0.40380,1.54990,0.40380,...,79.992258,79.992258,79.992258,0.025107,1.032644,0.397102,0.529470,0.794205,1.588410,2.122117
151,KNCUSDT,4.360,0.68300,3.45100,3.76500,2.51300,3.76500,1.51600,3.76500,1.25000,...,91.660027,91.660027,91.660027,0.016938,0.991716,1.013786,1.351714,2.027571,4.055143,2.404072
42,LUNAUSDT,119.550,0.27330,105.43000,119.55000,82.57000,119.55000,47.29000,119.55000,43.44000,...,88.189042,88.189042,88.189042,32.559485,1.773454,37.327857,49.770476,74.655714,149.311429,1.824432
74,NEARUSDT,20.597,0.52460,18.67100,18.92800,9.60800,18.92800,7.38500,20.59700,7.38500,...,98.642223,98.642223,90.649124,4.031634,1.505043,6.007190,8.009587,12.014381,24.028762,2.108109
237,PAXGUSDT,2100.850,1687.57000,1930.00000,1988.00000,1892.00000,2076.00000,1845.00000,2076.00000,1787.00000,...,97.082495,92.967245,92.967245,35.508035,1.019399,932.952381,1243.936508,1865.904762,3731.809524,1.068702

In [194]:
#for i, j in zip(range(0,len(AllTime.index),70), range(70,len(AllTime.index),70)):
    #print(i,j)
    #print(AllTime.iloc[i:j,0:5])
    #if j+70 > len(AllTime.index):
        #print(j,len(AllTime.index))
        #print(AllTime.iloc[j:len(AllTime.index),0:5])

In [195]:
#drop = AllTime.loc[(AllTime['RSI'] < 30)& (AllTime['STRSI'] < 0.1)]
#drop = AllTime.loc[(AllTime['SMARATIO'] <  1.05 ) &(AllTime['SMARATIO'] > 0.95)& (AllTime['ALLTIME'] <70) ]
#drop = AllTime.loc[(AllTime['Current'] <= AllTime['SMA21'])]
drop = AllTime.loc[(AllTime['Current'] <= AllTime['SMA21']/1.5)]

#drop = AllTime.loc[(AllTime['SMARATIO'] <  1 ) &(AllTime['SMARATIO'] > 0.95) & (AllTime['ALLTIME'] <70)]

#drop = AllTime.loc[(AllTime['MONTH'] < 80)&(AllTime[ '2MONTH'] < 70)&(AllTime['ALLTIME'] < 40)]
#drop = AllTime.loc[(AllTime['MONTH'] <70)&(AllTime['2MONTH'] > (AllTime['3MONTH']))]

sort = drop.sort_values(by=['CLOSERATIO'],ascending=False,inplace = True) 
#sort = drop.sort_values(by=['ALLTIME'],ascending=True,inplace = True) 

#drop = drop.loc[(drop['ALLTIME'] < drop['3MONTH'])]
display = drop[['Indicator','ATH','CLOSERATIO','RED','ORANGE','GREEN','Current']]
#print(drop)
save = drop[['Indicator','ATH','CLOSERATIO','RED','ORANGE','GREEN','Current']]
save=save.drop_duplicates(subset='Indicator',keep='last')

print(save)
print("Low EASY Band")

save.to_csv("easyband.csv")
print(str(date.today()))
#print(date)
save.to_csv("easyband"+str(date.today())+".csv")
save
    
#print(display.iloc[0:60,0:14])
#print(display.iloc[60:110,])
#print(display.iloc[110:160,])

    Indicator     ATH  CLOSERATIO        RED    ORANGE     GREEN  Current
111  DODOUSDT  10.000    0.260950   1.389429  0.694714  0.347357    0.438
186  PERPUSDT  26.210    0.242447  15.131429  7.565714  3.782857    4.700
88    RAYUSDT  17.800    0.217527  10.224000  5.112000  2.556000    3.112
129  MASKUSDT  22.581    0.190234  16.161524  8.080762  4.040381    4.809
161  NANOUSDT  17.700    0.013914   9.021524  4.510762  2.255381    2.224
Low EASY Band
2022-04-08

/Users/hjabbour/opt/anaconda3/envs/cryptodev/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

    Indicator     ATH  CLOSERATIO        RED    ORANGE     GREEN  Current
111  DODOUSDT  10.000    0.260950   1.389429  0.694714  0.347357    0.438
186  PERPUSDT  26.210    0.242447  15.131429  7.565714  3.782857    4.700
88    RAYUSDT  17.800    0.217527  10.224000  5.112000  2.556000    3.112
129  MASKUSDT  22.581    0.190234  16.161524  8.080762  4.040381    4.809
161  NANOUSDT  17.700    0.013914   9.021524  4.510762  2.255381    2.224

In [196]:
allbands = AllTime[['Indicator','RED','ORANGE','GREEN','Current']]
allbands.to_csv("allbands.csv")
allbands

     Indicator          RED       ORANGE       GREEN     Current
158    SUNUSDT     0.037830     0.018915    0.009457     0.01556
219    PAXUSDT     1.999019     0.999510    0.499755     0.99960
21     ICPUSDT    49.576190    24.788095   12.394048    19.39000
101    EPSUSDT     0.485762     0.242881    0.121440     0.23160
225  BTCSTUSDT    40.558095    20.279048   10.139524    17.70000
..         ...          ...          ...         ...         ...
32     TWTUSDT     1.588410     0.794205    0.397102     1.23980
151    KNCUSDT     4.055143     2.027571    1.013786     3.45100
42    LUNAUSDT   149.311429    74.655714   37.327857   105.43000
74    NEARUSDT    24.028762    12.014381    6.007190    18.67100
237   PAXGUSDT  3731.809524  1865.904762  932.952381  1930.00000

[260 rows x 5 columns]

In [197]:
# red band 

## band to sell in down trends
redband = AllTime.loc[(AllTime['Current'] >= 2*AllTime['SMA21'])]
redband.to_csv("redband.csv")
redband

Empty DataFrame
Columns: [Indicator, ATH, ATL, Current, OMH, OML, TMH, TML, THMH, THML, SMA21, SMA55, SMA100, ALLTIME, MONTH, 2MONTH, 3MONTH, SMADIFF, SMARATIO, GREEN, GREEN15, ORANGE, RED, CLOSERATIO]
Index: []

[0 rows x 24 columns]

In [198]:
## band to sell in down trends
orangeband = AllTime.loc[(AllTime['Current'] >= AllTime['SMA21'])]
test = orangeband[['Indicator','GREEN','ORANGE','RED','Current']]
test.to_csv("orangeband.csv")
test

      Indicator       GREEN       ORANGE          RED      Current
219     PAXUSDT    0.499755     0.999510     1.999019     0.999600
89     BAKEUSDT    0.469238     0.938476     1.876952     0.950000
253     BARUSDT    4.133333     8.266667    16.533333     8.870000
187     MIRUSDT    0.929929     1.859857     3.719714     1.874000
252      OGUSDT    2.030000     4.060000     8.120000     4.069000
251     ASRUSDT    1.845833     3.691667     7.383333     3.877000
109     SKLUSDT    0.092514     0.185029     0.370057     0.217500
108     SNXUSDT    2.715048     5.430095    10.860190     5.652000
212     LSKUSDT    1.116571     2.233143     4.466286     2.283000
30     STMXUSDT    0.009786     0.019572     0.039145     0.020530
217     BTGUSDT   19.141667    38.283333    76.566667    38.360000
35      ETCUSDT   17.605714    35.211429    70.422857    42.840000
177     MBLUSDT    0.004655     0.009310     0.018620     0.011056
232    TROYUSDT    0.004629     0.009258     0.018516     0.010321
23      XECUSDT    0.000050     0.000100     0.000200     0.000105
174     ACMUSDT    2.641024     5.282048    10.564095     7.001000
131     DNTUSDT    0.055805     0.111610     0.223219     0.140900
149     MFTUSDT    0.004281     0.008562     0.017124     0.009557
148     BALUSDT    7.743810    15.487619    30.975238    20.930000
208  ALPACAUSDT    0.247119     0.494238     0.988476     0.520300
57     AAVEUSDT   94.016667   188.033333   376.066667   198.500000
157     CTKUSDT    0.720452     1.440905     2.881810     1.452000
243     GXSUSDT    0.828314     1.656629     3.313257     1.818200
143     ZRXUSDT    0.366279     0.732557     1.465114     0.790400
245     GTOUSDT    0.022883     0.045766     0.091532     0.052310
190    TUSDUSDT    0.499810     0.999619     1.999238     0.999900
124    CELOUSDT    1.875190     3.750381     7.500762     3.898000
178     JSTUSDT    0.028499     0.056999     0.113997     0.073180
29     IOSTUSDT    0.015031     0.030062     0.060125     0.033260
122     XMRUSDT   97.378571   194.757143   389.514286   226.500000
215    TORNUSDT   18.753571    37.507143    75.014286    44.390000
83     RUNEUSDT    3.469571     6.939143    13.878286     9.623000
81     COTIUSDT    0.151674     0.303348     0.606695     0.317800
103     ZECUSDT   76.838095   153.676190   307.352381   172.400000
116   WAVESUSDT    9.499524    18.999048    37.998095    29.870000
97     MINAUSDT    1.502548     3.005095     6.010190     3.304000
92      ZILUSDT    0.034127     0.068254     0.136508     0.131870
119    KAVAUSDT    1.968952     3.937905     7.875810     4.751000
31      FTTUSDT   21.811190    43.622381    87.244762    45.840000
257     GNOUSDT  189.909524   379.819048   759.638095   393.400000
32      TWTUSDT    0.397102     0.794205     1.588410     1.239800
151     KNCUSDT    1.013786     2.027571     4.055143     3.451000
42     LUNAUSDT   37.327857    74.655714   149.311429   105.430000
74     NEARUSDT    6.007190    12.014381    24.028762    18.671000
237    PAXGUSDT  932.952381  1865.904762  3731.809524  1930.000000

In [199]:
#easybandlist = display['Indicator']
#easybandlist

In [200]:
#display.Current.astype(float)

display = display.loc[:] 
display['ORatio'] = display['ORANGE']/display['Current'] 
#display = display.loc[display['CLOSERATIO']> 0.01]
display

#display

,Indicator,ATH,CLOSERATIO,RED,ORANGE,GREEN,Current,ORatio
111,DODOUSDT,10.000,0.260950,1.389429,0.694714,0.347357,0.438,1.586106
186,PERPUSDT,26.210,0.242447,15.131429,7.565714,3.782857,4.700,1.609726
88,RAYUSDT,17.800,0.217527,10.224000,5.112000,2.556000,3.112,1.642674
129,MASKUSDT,22.581,0.190234,16.161524,8.080762,4.040381,4.809,1.680341
161,NANOUSDT,17.700,0.013914,9.021524,4.510762,2.255381,2.224,2.028220

# entries

In [201]:

#entrylist =[['ANKRUSDT',0.07684],['AVAXUSDT',57],['WAXPUSDT',0.3818],['REEFUSDT',0.01131],['LINKUSDT',14.15],['ARUSDT',30],['ATOMUSDT',23],['MIRUSDT',2.343],['ALGOUSDT',0.909],['ZRXUSDT',0.60],['XTZUSDT',2.856],['KSMUSDT',163],['NEARUSDT',14],['WINUSDT',0.0003138],['CELRUSDT',0.05063],['DENTUSDT',0.002459],['LRCUSDT',0.7047],['CRVUSDT',3.529],['IMXUSDT',2.709],['SCRTUSDT',5],['RENUSDT',0.2547],['SUSHIUSDT',4.522],['CAKEUSDT',11.24],['XLMUSDT',0.2109],['HNTUSDT',30],['OMGUSDT',4.5],['LINAUSDT',0.024],['MIRUSDT',2.343],['FLUXUSDT',1.523]]
entrylist =[['ANKRUSDT',0.05415],['AVAXUSDT',57],['WAXPUSDT',0.3174],['REEFUSDT',0.00806],['LINKUSDT',14.15],['ARUSDT',30],['ATOMUSDT',23],['MIRUSDT',2.343],['ALGOUSDT',0.7046],['ZRXUSDT',0.50],['XTZUSDT',2.856],['KSMUSDT',150],['NEARUSDT',10.320],['WINUSDT',0.0003138],['DENTUSDT',0.002459],['LRCUSDT',0.677],['CRVUSDT',2.12],['IMXUSDT',1.30],['SCRTUSDT',5],['RENUSDT',0.3047],['SUSHIUSDT',3.5],['CAKEUSDT',11.24],['XLMUSDT',0.2109],['HNTUSDT',22.7],['OMGUSDT',4.5],['LINAUSDT',0.01759],['FLUXUSDT',1.523],['SRMUSDT',1.8],['VTHOUSDT',0.0031],['ANTUSDT',5.616],['RAYUSDT',2.5],['ROSEUSDT',0.24055],['MOVRUSDT',51.6],['TFUELUSDT',0.18],['GLMRUSDT',4.5],['COTIUSDT',0.2277],['ONEUSDT',0.13171],['VETUSDT',0.05138],['RUNEUSDT',3.709],['CELRUSDT',0.034063],['ONTUSDT',0.4652],['GALAUSDT',0.24794],['GRTUSDT',0.3164],['DOTUSDT',16.31],['ZILUSDT',0.04410],['FILUSDT',20],['SCUSDT',0.011],['MATICUSDT',1.4],['FTMUSDT',1.15],['BANDUSDT',3.6],['1INCHUSDT',1.6],['AUDIOUSDT',1.0],['IOTXUSDT','0.07109'],['CTSIUSDT','0.62'],['LUNAUSDT','13'],['SOLUSDT','35']]
exposurelist =[['ANKRUSDT',311],['AVAXUSDT',2850],['WAXPUSDT',527],['REEFUSDT',700],['LINKUSDT',6000],['ARUSDT',2450],['ATOMUSDT',1863],['MIRUSDT',85],['ALGOUSDT',3300],['ZRXUSDT',245],['XTZUSDT',1200],['KSMUSDT',7800],['NEARUSDT',1360],['WINUSDT',285],['DENTUSDT',385],['LRCUSDT',660],['CRVUSDT',323],['IMXUSDT',269],['SCRTUSDT',601],['RENUSDT',684],['SUSHIUSDT',2730],['CAKEUSDT',4000],['XLMUSDT',368],['HNTUSDT',1250],['OMGUSDT',765],['LINAUSDT',205],['FLUXUSDT',224],['SRMUSDT',587],['VTHOUSDT',413],['ANTUSDT',200],['RAYUSDT',100],['ROSEUSDT',634],['MOVRUSDT',500],['TFUELUSDT',344],['GLMRUSDT',400],['COTIUSDT',500],['ONEUSDT',1000],['VETUSDT',500],['RUNEUSDT',750],['CELRUSDT',500],['ONTUSDT',400],['GALAUSDT',650],['GRTUSDT',1700],['DOTUSDT',10000],['ZILUSDT',1000],['FILUSDT',2000],['SCUSDT',200],['MATICUSDT',8000],['FTMUSDT',2000],['BANDUSDT',750],['1INCHUSDT',1000],['AUDIOUSDT',700],['IOTXUSDT',500],['CTSIUSDT',325],['LUNAUSDT','4000'],['SOLUSDT','3000'],['DOTUSDT','10000']]
startdate = '2021-01-01'
entries = pd.DataFrame(entrylist, columns =['Indicator', 'lowest_entry'],dtype = float) 
entries
entries.lowest_entry.astype(float)

indicator_list = entries['Indicator']
#indicator_list
#entries
entries.to_csv("entries.csv")

exposure = pd.DataFrame(exposurelist, columns =['Indicator', 'exposure'],dtype = float) 
exposure
exposure.exposure.astype(float)
#indicator_list
#entries
exposure.to_csv("exposure.csv")

entries = entries.merge(exposure ,how="left",on="Indicator")
#entries

fixentries = entries.merge(display ,how='left',on=['Indicator'])
#fixentries = fixentries.merge(exposure,how='left',on=['Indicator'])
#fixentries
#entries1 = entries.merge(fixentries,how='left',on=['Indicator'])
fixentries = fixentries.dropna(axis=0,subset=['ATH'])
fixentries=fixentries.drop_duplicates(subset='Indicator',keep='last')
fixentries.lowest_entry.astype(float)
fixentries.Current.astype(float)


fixentries['DROP'] = ((fixentries.lowest_entry - fixentries.Current)/fixentries.lowest_entry)*100
fixentries.sort_values(by=['DROP'],ascending=False,inplace = True)
fixentries

/Users/hjabbour/opt/anaconda3/envs/cryptodev/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

,Indicator,lowest_entry,exposure,ATH,CLOSERATIO,RED,ORANGE,GREEN,Current,ORatio,DROP
30,RAYUSDT,2.5,100.0,17.8,0.217527,10.224,5.112,2.556,3.112,1.642674,-24.48

# Red Band

In [202]:
## over red entries 
overred = redband.merge(entries ,how="left",on="Indicator")
overed = overred.dropna(axis=0,subset=['RED'])
overred= overred[['Indicator','GREEN','ORANGE','RED','Current']]
overred

Empty DataFrame
Columns: [Indicator, GREEN, ORANGE, RED, Current]
Index: []

# Orange Band

In [203]:
## over orange entries 
overorange = entries.merge(orangeband ,how="left",on="Indicator")
overorange = overorange.dropna(axis=0,subset=['GREEN'])
overoranged= overorange[['Indicator','GREEN','ORANGE','RED','Current']]
overoranged

   Indicator      GREEN     ORANGE         RED    Current
7    MIRUSDT   0.929929   1.859857    3.719714    1.87400
9    ZRXUSDT   0.366279   0.732557    1.465114    0.79040
12  NEARUSDT   6.007190  12.014381   24.028762   18.67100
35  COTIUSDT   0.151674   0.303348    0.606695    0.31780
38  RUNEUSDT   3.469571   6.939143   13.878286    9.62300
45   ZILUSDT   0.034127   0.068254    0.136508    0.13187
55  LUNAUSDT  37.327857  74.655714  149.311429  105.43000

In [204]:
save = fixentries
save.to_csv("fixoneasy.csv")
save
del fixentries

In [205]:
#Gap is an acceptable area for rebounce and exit
orangedrop = save.loc[:]
orangedrop['GapOrange']= orangedrop['ORANGE']/orangedrop['Current']
orangedrop['GapRed']= orangedrop['RED']/orangedrop['Current']
orangedrop['GapATH']= orangedrop['ATH']/orangedrop['Current']
#orangedrop['GapAORT']= (orangedrop['GapATH']*orangedrop['GapOrange'])


orangedrop

,Indicator,lowest_entry,exposure,ATH,CLOSERATIO,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH
30,RAYUSDT,2.5,100.0,17.8,0.217527,10.224,5.112,2.556,3.112,1.642674,-24.48,1.642674,3.285347,5.719794

In [206]:
# multiplying the gap with the value of the drop for a reasonable recovery
exposuredrop = orangedrop
exposuredrop['Total']= exposuredrop['exposure']*exposuredrop['DROP']*exposuredrop['GapOrange']
#exposuredrop['Total']= exposuredrop['DROP']*exposuredrop['GapOrange']*exposuredrop['CLOSERATIO']
#exposuredrop['Total']= exposuredrop['GapOrange']*exposuredrop['DROP']
#exposuredrop = exposuredrop.loc[exposuredrop['DROP']>0]

#exposuredrop.sort_values(by=['GapOrange'],ascending=False,inplace = True)
exposuredrop.sort_values(by=['CLOSERATIO'],ascending=False,inplace = True)

exposuredrop

,Indicator,lowest_entry,exposure,ATH,CLOSERATIO,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total
30,RAYUSDT,2.5,100.0,17.8,0.217527,10.224,5.112,2.556,3.112,1.642674,-24.48,1.642674,3.285347,5.719794,-4021.264781

In [207]:
exposuredrop.to_csv("exposuredrop.csv")

In [208]:
# easy band and cap ratio
capratio = pd.read_csv('capratio.csv')
capratio = pd.DataFrame(capratio,columns=['Indicator','supply_ratio','cap_ratio'])
capratio

exposuredrop = exposuredrop.merge(capratio ,how='left',on=['Indicator'])
sort = exposuredrop.sort_values(by=['Total'],ascending=False,inplace = True)

exposuredrop

,Indicator,lowest_entry,exposure,ATH,CLOSERATIO,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total,supply_ratio,cap_ratio
0,RAYUSDT,2.5,100.0,17.8,0.217527,10.224,5.112,2.556,3.112,1.642674,-24.48,1.642674,3.285347,5.719794,-4021.264781,NaN,NaN

In [209]:
undergreen = exposuredrop.loc[exposuredrop['Current'] < exposuredrop['GREEN']]
undergreen

Empty DataFrame
Columns: [Indicator, lowest_entry, exposure, ATH, CLOSERATIO, RED, ORANGE, GREEN, Current, ORatio, DROP, GapOrange, GapRed, GapATH, Total, supply_ratio, cap_ratio]
Index: []